{% extends "base.html" %}
{% load static %}
{% load static i18n %}

{% block content %}

<form id="form-nfc" class="hide" hx-post="ask_primary_card" hx-trigger="nfcResult" hx-swap="none"
	hx-on::after-request="handleNfc(event)">
	{% csrf_token %}
	<input id="type-action" name="type-action" value="valider_carte_maitresse" />
	<input id="tag-id-cm" name="tag-id-cm" />
</form>

<div id="nfc-container" role="status" aria-label="waiting primary card">
	<div>
		<h1>{% translate "Attente carte primaire" %}</h1>
		<div id="retour-nfc"></div>
	</div>
</div>

<div id="spinner-container-nfc">
	<div class="spinner-nfc"></div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/socket.io.3.0.4.js' %}"></script>
<script src="{% static 'js/nfc.js' %}?{{ version }}"></script>

<!-- lecteure nfc -->
<script>
	// Handle nfc
	window.handleNfc = function (event) {
		let msg = ''
		const xhr = event.detail.xhr
		const responseStatus = xhr.status
		if (responseStatus === 400) {
			msg = JSON.parse(xhr.response).msg
			document.querySelector('#retour-nfc').innerHTML = `<h1 style="color: var(--yellow00)">${msg}</h1>`
			// relance la lecture
			nfc.start()
		}

		if (responseStatus === 201) {
			const data = JSON.parse(xhr.response)
			window.location = `pv_route?uuid_pv=${data.uuid_pv}&tag_id_cm=${data.tag_id_cm}`
		}
	}

	// lance le lecteur nfc
	document.addEventListener('DOMContentLoaded', () => {
		window.nfc = new NfcReader()
		nfc.start()
	})
</script>
{% endblock script %}


{% block css %}
<style>
	#nfc-container {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: var(--noir01);
		color: var(--blanc01);
	}

	.nfc-reader-simu-bt {
		width: 200px;
		height: 70px;
		background-color: var(--bleu04);
		color: var(--blanc01);
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		font-size: 1.5rem;
		margin-bottom: 2rem;
		border-radius: 8px;
		font-weight: bold;
		white-space: pre-line;
		text-align: center;
	}

	#retour-nfc {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		white-space: pre-line;
		text-align: center;
	}

	#spinner-container-nfc {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.5;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		--spinner-width: 240px;
	}

	.spinner-nfc {
		border: 16px solid var(--noir04);
		border-top: 16px solid var(--vert01);
		border-radius: 50%;
		width: var(--spinner-width);
		height: var(--spinner-width);
		animation: spin 2s linear infinite;
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}
</style>
{% endblock css %}