{% extends "base.html" %}
{% load static i18n %}
<!--

-->
{% block content %}
<c-read-nfc id="nfc-container" set="page"
	nfc-send='{"eventName": "manageFormHtmx", "selectorForm": "#form-nfc", "actions": ["inputTagId,#nfc-tag-id","hx-trigger,nfcResult", "url,ask_primary_card", "submit"]}'>
	<form id="form-nfc" class="hide" hx-post="ask_primary_card" hx-trigger="nfcResult" hx-target=".message-nfc"
		hx-swap="innerHTML">
		{% csrf_token %}
		<input id="nfc-tag-id" name="tag_id" />
	</form>
	<h1>{% translate "Attente carte primaire" %}</h1>
	<h3 class="message-nfc">{{msg}}</h3>
</c-read-nfc>
{% endblock content %}

{% block css %}
<style>
	.message-nfc {
		min-height: 1.5rem;
		margin-bottom: 0.7rem;
		font-weight: bold;
		white-space: pre-line;
		text-align: center;
		color: var(--yellow00);
	}
</style>
{% endblock css %}