{% extends "base.html" %}
{% load static %}
{% load static i18n %}

{% block content %}
<!-- header + nav -->
{% include "components/tables/header.html" %}
<main>
	<nav id="categories">
		cat
	</nav>
	<div id="tables-container">
		{% for table in tables %}
		<div class="BF-col-haut table-bouton ${nomClass} ${curseurAction}" data-id-table="{{table.id}}">
			<div class="BF-col table-nom">{{table.name}}</div>
			<div class="BF-ligne table-etat" style="background-color: {{table_status_colors[table.statut]}}">
				${iconCategorie}
			</div>
		</div>`
		{% endfor %}
	</div>
</main>
<footer>
	<!-- bouton CHECK CARTE -->
	<div class="BF-ligne footer-bt fond-normal test-check-carte" onclick="console.log('action en attente')">
		<i class="fas fa-money-check-alt md4px"></i>
		<div class="BF-col-deb footer-bt-text mg4px">
			<div>{% translate "CHECK" %}</div>
			<div>{% translate "CARTE" %}</div>
		</div>
	</div>
	<!-- bouton service direct -->
	<div class="BF-ligne footer-bt fond-coul1 test-service-direct" onclick="console.log('action en attente')">
		<i class="fas fa-cash-register md4px"></i>
		<div class="BF-col-deb footer-bt-text mg4px">
			<div>{% translate "SERVICE DIRECT" %}</div>
		</div>
	</div>
</footer>
{% endblock content %}

{% block script %}
{% endblock script %}

{% block css %}
<style>
	main {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: start;
		width: 100%;
		height: var(--main-container-height);
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	#categories {
		width: var(--cat-width);
		height: 100%;
		background-color: var(--noir04);
	}

	#tables-container {
		width: calc(100% - var(--cat-width));
		height: 100%;
		background-color: var(--bleu11);
		display: flex;
		justify-content: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
		overflow-y: auto;
		scrollbar-width: none
	}


	footer {
		width: 100%;
		height: var(--footer-container-height);
		display: flex;
		flex-direction: row;
		background-color: var(--vert04);
		font-size: 2rem
	}

	.footer-bt {
		width: 50%;
		height: 100%;
		color: var(--blanc01);
		cursor: pointer;

		i {
			margin-right: 4px;
			font-size: 1.5rem;
		}
	}

	.footer-bt-text {
		font-size: 1rem;
		font-weight: bold;
	}

	.fond-normal {
		background-color: var(--bleu02);
	}

	.fond-coul1 {
		background-color: var(--rouge05);
	}

	.table-bouton {
		width: var(--bt-table-width);
		height: var(--bt-table-height);
		border-radius: 15px;
		margin: 8px;
		font-family: 'Source Sans', sans-serif;
		box-sizing: border-box;
		background-color: var(--gris04);
	}

	.table-etat {
		width: 100%;
		height: 24px;
		border-radius: 0 0 15px 15px;
		font-size: 1rem;
		padding-right: 8px;
		justify-content: flex-end;
		overflow: hidden;
	}
</style>
{% endblock css %}