{% load static i18n %}
{# Overlay plein écran qui propose le scan NFC de la carte client. #}
{# Full-screen overlay inviting the NFC scan of the client card. #}
<c-read-nfc selector="#messages" event-manage-form="nfcSendEmptyCardManageForm" submit-url="{% url 'laboutik-paiement-vider_carte_preview' %}">
<form id="vider-carte-form"
      class="hide"
      hx-post="{% url 'laboutik-paiement-vider_carte_preview' %}"
      hx-trigger=""
      hx-target="#messages"
      hx-swap="innerHTML">
    {% csrf_token %}
    <input id="nfc-tag-id" name="tag_id" value="" />
    <input name="tag_id_cm" value="{{ card.tag_id }}" />
    <input name="uuid_pv" value="{{ pv.uuid }}" />
</form>
<h2>{% translate "Vider la carte" %}</h2>
<p>{% translate "Scannez la carte du client." %}</p>
<script>
    // Pour gérer le formulaire par nfc
    // écoute des commandes sur le formulaire "#vider-carte-form"
    document.querySelector('#vider-carte-form').addEventListener('emptyCardManageForm', (event) => {
        // gestionnaire de formulaire si-dessus
        globalManageForm(event, '#vider-carte-form')
        event.preventDefault()
        event.stopPropagation()
    })
</script>
</c-read-nfc>
