{% load static %}
<div class="modal fade" id="tibillet-login-modal" tabindex="-1" aria-labelledby="modal-form-login"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="maj-theme modal-content">
            <div class="modal-header d-flex flex-column align-items-star">
                <h3 class="font-weight-bolder text-info text-center mb-4">
                    Connectez vous
                </h3>
            </div>
            <div class="modal-body">
                <div>
                    <h4 class="font-weight-bolder text-info text-center">Avec votre e-mail</h4>
                </div>
                <!-- <form id="login-form" action="/connexion/" method="POST" class="text-left mb-7" novalidate> -->
                    <form id="event-form" hx-post="/connexion/" hx-target="#tibillet-modal-message" hx-swap="outerHTML" novalidate 
                        hx-on:htmx:before-request="validateLoginEmail(event)" hx-on:htmx:after-request="loginActionAfterSwap('tibillet-login-modal')">
                    {% csrf_token %}
                    <!-- email -->
                    <div class="input-group input-group-dynamic mb-4">
                        <label class="form-label" for="login-email">Email</label>
                        <input id="login-email" name="login-email" type="email" class="form-control" required>
                    </div>


                    <p class="">Nul besoin de mot de passe : un email vous sera envoyé pour validation.</p>
                    <div class="text-center">
                        <button class="btn bg-gradient-info btn-lg mt-0 mb-0" type="submit"
                                style="width:120px;height:44px;">Valider
                        </button>
                    </div>
                </form>

                <div class="d-flex flex-row justify-content-center mt-2">
                    <h4 class="font-weight-bolder text-info text-center">Avec communecter</h4>
                </div>

                <div class="text-center mt-2">
                    <button class="btn bg-gradient-info btn-lg mt-0 mb-0" type="button"
                            style="width:120px;height:44px;" onclick="location.href = '/api/user/requestoauth/';">
              <span class="d-flex flex-row justify-content-center align-items-center h-100 w-100">
                <img src="{% static '/mvt_htmx/images/communecterLogo_31x28.png' %}" class="communecter-logo"
                     alt="logo communecter">
              </span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    function validateLoginEmail(evt) {
        // const error = 0
        const input = document.querySelector('#login-email')
        let value = input.value
        const re = /[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/
        if (value.match(re) === null) {
            evt.preventDefault()
		    evt.stopPropagation()
            // efface le spinner
		    document.querySelector('#tibillet-spinner').style.display = 'none'
            // input en mode invalid
            input.parentNode.classList.remove('is-valid')
            input.parentNode.classList.add('is-invalid')
            // scroll et focus le input confirme email
            input.scrollIntoView({ behavior: 'smooth', inline: 'center', block: 'center' })
            input.focus()
        } else {
            input.parentNode.classList.remove('is-invalid')
            input.parentNode.classList.add('is-valid')
        }
    }

    function loginActionAfterSwap(modalLoginId) {
         // effacer le modal login une fois la requête finie
         hideModal('#' + modalLoginId)
        // afficher le modal de retour de requête
        window.setTimeout(() => {
            // wait swap finish
            showModal('#tibillet-modal-message')
        }, 400)
    }

</script>
