#env
DJANGO_SECRET='EeCha9vaiphein1koh1faefeeR7pu!quo6Nei0uBu4ohfu9eeG'
POSTGRES_HOST='billetterie_postgres'
POSTGRES_USER='ticket_postgres_user'
POSTGRES_PASSWORD='ticket_postgres_ojah2etoo8wee=xusauChoh4uetohc6a'
POSTGRES_DB='tibillet'

CELERY_BROKER='redis://redis:6379/0'
CELERY_BACKEND='redis://redis:6379/0'

BORG_PASSPHRASE=''

DEBUG_DJANGO=True
TIME_ZONE='Indian/Reunion'

DOMAIN='tibillet.localhost'
PUBLIC='TiBillet Coop.'
META='agenda'

EMAIL_HOST="SSL0.OVH.NET"
EMAIL_PORT="465"
EMAIL_HOST_USER="CHANGEME"
EMAIL_HOST_PASSWORD="CHANGEME"


# Stripe Tibillet
STRIPE_TEST=True
STRIPE_KEY=""
STRIPE_KEY_TEST=""


COMMUNECTER_SSO_CLIENTID=""
COMMUNECTER_SSO_SECRET=""

CELERY_USER="celery"
CELERY_PASS="prout"