<plugin id="cordova-plugin-nfc-reader" 
  xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
  <name>NFC Plugin</name>
  <description>Plugin Cordova pour lire des tags NFC</description>
  <author>filaos</author>
  <license>Apache 2.0</license>

  <!-- Déclaration du module JavaScript -->
  <js-module src="www/nfcPlugin.js" name="nfcPlugin">
    <clobbers target="nfcPlugin" />
  </js-module>

  <platform name="android">
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.NFC" />
      <uses-feature android:name="android.hardware.nfc" android:required="false"/>
    </config-file>

    <!-- Déclaration du fichier source Kotlin -->
    <source-file src="src/android/NfcPlugin.kt" 
      target-dir="app/src/main/kotlin/re/filaos/nfcplugin" />

     <!-- Ajout de launchMode singleTop -->
    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application/activity[@android:name='MainActivity']" xmlns:android="http://schemas.android.com/apk/res/android">
        <activity android:launchMode="singleTop" />
    </edit-config>
    
    <!-- Configuration du plugin Kotlin dans Gradle -->
    <config-file target="config.xml" parent="/*">
      <preference name="GradlePluginKotlinEnabled" value="true" />
      <preference name="GradlePluginKotlinCodeStyle" value="official" />
    </config-file>

    <!-- Association de la classe Kotlin/Java à la fonctionnalité du plugin -->
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="NfcPlugin">
                <param name="android-package" value="re.filaos.nfcplugin.NfcPlugin" />
            </feature>
    </config-file>
  </platform>
</plugin>