{% load static %}
<div class="container pt-5 d-flex flex-column">
  <button onclick="reloadCard()">Recharger carte</button>
  <video id="video-cashless"></video>
</div>
<script>
    function result(data) {
        console.log('-> result, data =', data)
    }

    function reloadCard() {
        console.log("-> reloadCard")
        const video = document.querySelector("#video-cashless")
        const options = {
        }
        /*
        const qrScanner = new QrScanner(video, result, options)
        const list = await QrScanner.listCameras(true)
        console.log('list =', list)
        */
        QrScanner.listCameras(true).then(cameras => {
            console.log('cameras =', cameras)
        })
        // qrScanner.start()
    }
</script>
