##########################
# TiBillet / Lespass
# All the env are needed
##########################

# Secret
DJANGO_SECRET='' # see documentation to create one
FERNET_KEY='' # see documentation to create one

STRIPE_KEY='' # from your stripe account
# or 
STRIPE_KEY_TEST=''
STRIPE_TEST=0 # set to 1 for use stripe test env

# Database
POSTGRES_PASSWORD='' # strong ! use a generated fernet key
POSTGRES_USER='lespass_postgres' # you can change it on production
POSTGRES_DB='lespass'

TIME_ZONE='Europe/Paris' # or where you are

PUBLIC='TiBillet Coop.' # The name of the root instance
DOMAIN='tibillet.localhost' # for the wildcard : without subdomain ! ex : tibillet.coop, not lespass.tibillet.coop
SUB='lespass' # the sub domain of your first place ex : if 'festival', it will be accessible on https://festival.tibillet.coop. Set lespass for dev/test.
META='agenda' # the federated agenda for all events on all tenants. If 'agenda', it will be accessible, for exemple, on https://agenda.tibillet.coop

ADDITIONAL_DOMAINS='' # optional - add additional domain for SaaS model, séparated with comma. ex : 'domainbis.localhost,domainter.localhost'

ADMIN_EMAIL='' # needed for the first admin account

FEDOW_DOMAIN='fedow.tibillet.localhost' # the same as Fedow



#### OPTIONAL ENV

# For transactionnal email.
# Required on prod or if you want to test... emails !
# Not required on dev' env.
EMAIL_HOST=''
EMAIL_PORT=''
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''


# Usefull for dev/test
# Auto login for admin, no https cert' verification, demonstration data, auto database flush, etc ...
# don't set 1 to production !
TEST=0
DEBUG=0

# If you have already linked an account on stripe
STRIPE_CONNECT_ACCOUNT=''