##########################
### CHANGE ME :
##########################

ADMIN_EMAIL='jturbeaux@pm.me'

# go Discord to get it or use yours :)
# For transactionnal email :
EMAIL_HOST="SSL0.OVH.NET"
EMAIL_PORT="465"
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""

STRIPE_KEY_TEST=''
STRIPE_ENDPOINT_SECRET_TEST=''
TEST_STRIPE_CONNECT_ACCOUNT=''



##########################
# TiBillet / Lespass
# All the env are needed, this is example only, you can use it but change for production !!!
##########################

# Secret
DJANGO_SECRET='^6^$gftxk@nu-4@ld-5r@r^5*7twh@xv7emv17c(1e$q%@6*m2' # see upper to create one
FERNET_KEY='sZG_NSiM11E_y2h_kKoyueJsLPUN2KhKyjFpsU_3dwh=' # see upper to create one

# FEDOW
SECRET_KEY='^6^$gftxk@nu-4@ld-5r@r^5*7twh@xv7emv17c(1e$q%@6*m1' # see documentation to create one
FERNET_KEY='sZG_NSiM11E_y2h_kKoyueJsLPUN2KhKyjFpsU_3dwg=' # see documentation to create one

# Database
POSTGRES_USER='lespass_postgres_user'
POSTGRES_PASSWORD='kKoyueJsLPUN2KhKyjFpsU' # strong ! generate a new fernet for exemple.
POSTGRES_DB='tibillet'

STRIPE_KEY='' # from your stripe account

TIME_ZONE='UTC' # or where you are
PUBLIC='TiBillet Coop.' # The name of the root instance

DOMAIN='tibillet.localhost' # for the wildcard : without subdomain ! ex : tibillet.coop, not lespass.tibillet.coop

FEDOW_DOMAIN='fedow.tibillet.localhost' # the same as Fedow

ADDITIONAL_DOMAINS='domainbis.localhost' # optional - add addiotional domain for SaaS model, séparated with comma. ex : 'domainbis.localhost,domainter.localhost'
SUB='lespass' # the sub domain of your first place ex : if 'lespass', it will be accessible on https://lespass.tibillet.coop
META='agenda' # the federated agenda for all events on all tenants. If 'agenda', it will be accessible, for exemple, on https://agenda.tibillet.coop


# Usefull for dev/test
# Auto login for admin, no https cert' verification, demonstration data, auto database flush, etc ...
# don't set 1 to production !
TEST=1
DEBUG=1
DEMO=1
STRIPE_TEST=1 # set to 1 for use stripe test env



DEMO_TAGID_CM='A49E8E2A'
DEMO_TAGID_CLIENT1='52BE6543'
DEMO_TAGID_CLIENT2='33BC1DAA'

TEST_FORMBRICKS_API="1064a420e6449d074d59fee39cbb5f14"
TEST_FORMBRICKS_EVENT_FORM=""
TEST_FORMBRICKS_ADH_FORM=""
