{% load static i18n %}
{% load laboutik_process %}

<div id="messages" class="BF-col">
  {% if deposit_is_present %}
  <!-- consigne -->
  <div class="payment-title1 test-return-title-content">{% translate "Retour de consigne ok" %}</div>
  {% if payment.moyen_paiement == 'nfc' %}
  <div class="payment-msg1">
    {% translate "Votre carte est crédité de" %} {{ total }} {{ state.place.monnaie_name }}
  </div>
  {% endif %}
  {% if payment.moyen_paiement == 'espece' %}
  <div class="payment-msg1">{% translate "A rembourser" %} : {{ total }} {{ currency_data.symbol }}</div>
  {% endif %}
  {% else %}
  <!-- pas de consigne -->
  <div class="payment-title1 test-return-title-content">{% translate "Transaction ok" %}</div>

  <div class="test-return-total-achats payment-msg1">
    {% translate "Total" %}({{ moyen_paiement }}) {{ payment.total }} {{ currency_data.symbol }}
  </div>
  <!-- monnaie à rendre -->
  {% if payment.give_back > 0 %}
  <div class="payment-msg1"> {% translate "Somme donnée" %} {{ payment.given_sum|divide_by:100 }} {{ currency_data.symbol }}</div>
  <div class="payment-title1"> {% translate "Monnaie à rendre" %} {{ payment.give_back }} {{ currency_data.symbol }}</div>
  {% endif %}
  
  {% endif %}

  <!--TODO: imprimer ticket-->

  <c-bt.return selector="#messages" layer="1" action="manageReset()" />

  <style>
    #messages {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 800;
      background-color: var(--success);
      color: var(--blanc01);
      font-size: 1.5rem;
      text-align: center;
    }

    .payment-title1 {
      font-size: 2.5rem;
      font-weight: bold;
      text-align: center;
    }

    .payment-msg1 {
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
    }
  </style>
</div>