{% for product in products.all %}
    {% if product.categorie_article == 'S' %}
        <fieldset class="shadow-sm p-3 mb-5 bg-body rounded">
            <legend>
                <h3 class="font-weight-bolder text-info text-gradient align-self-start">Cashless</h3>
                <p>Les organisateurs du lieux utilisent un système de carte cashless. C'est gratuit, valable à vie et
                    remboursable à tout moment. Une recharge minimale de 10€ est réclamée pour votre réservation.
                    Si vous n'avez pas encore de carte, elle vous sera remise, chargée, contre la confirmation de cette
                    reservation.</p>
            </legend>

            <!-- activation -->
            <div class="form-switch">
                <input class="form-check-input" id="credit-cashless-{{ forloop.counter0 }}-{{ product.uuid }}"
                       type="checkbox" aria-label="Activer cashless."
                       onclick="colorInputCheckBox(this);addInputCashless(this.checked, {{ forloop.counter0 }}, '{{ product.uuid }}');">
                <label class="form-check-label text-dark ms-2"
                       for="credit-cashless-{{ forloop.counter0 }}-{{ product.uuid }}">
                    Recharger carte
                </label>
            </div>

            <!-- la recharge -->
            <div id="tibillet-cashless-input-position-{{ forloop.counter0 }}-{{ product.uuid }}"></div>
            <template id="tibillet-cashless-number-template-{{ forloop.counter0 }}-{{ product.uuid }}">
                <div class="d-flex flex-row justify-content-center align-items-center w-25 tibillet-container-cashless-number"
                     data-container-template="true">
                    <button class="btn btn-icon btn-2 btn-primary btn-sm mb-0 me-2" type="button"
                    onclick="inputNumberGroup('under', 'tibillet-cashless-{{ product.prices.all.0.uuid }}', {{ min }}, {{ max }})">
                        <span class="btn-inner--icon">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </span>
                    </button>

                    <div class="input-group input-group-dynamic my-3 is-filled tibillet-number-group-bt-input">
                        <label class="form-label"
                               for="tibillet-cashless-{{ forloop.counter0 }}-{{ product.uuid }}">Quantité</label>
                        <!-- si-dessous uuid price du cashless -->
                        <input name="tibillet-cashless-{{ product.prices.all.0.uuid }}" type="number"
                               class="form-control" id="tibillet-cashless-{{ forloop.counter0 }}-{{ product.uuid }}"
                        value="{{ min }}">
                    </div>

                    <button class="btn btn-icon btn-2 btn-primary btn-sm mb-0 ms-2" type="button"
                    onclick="inputNumberGroup('over', 'tibillet-cashless-{{ product.prices.all.0.uuid }}', {{ min }}, {{ max }})">
                    <span class="btn-inner--icon">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </span>
                    </button>
                </div>
            </template>
        </fieldset>
    {% endif %}
{% endfor %}

<script>
  // affiche le groupe bouton "mois" + input + bouton "plus"
  function addInputCashless(state, index, productUuid) {
    const cible = document.querySelector(`#tibillet-cashless-input-position-${index}-${productUuid}`)
    if (state) {
      const templateCashless = document.querySelector(`#tibillet-cashless-number-template-${index}-${productUuid}`)
      let cloneTemplateCashless = document.importNode(templateCashless.content, true);
      // ciblage élément à afficher du template
      let parent = cloneTemplateCashless.querySelector('div[data-container-template="true"]')

      console.log('parent = ', parent)
      cible.append(cloneTemplateCashless)
    } else {
      cible.querySelector('.tibillet-container-cashless-number').remove()
    }
  }
</script>