{% load static %}
<div class="card test-card-event" data-animation="true">
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <a class="d-block">
            {% if event.categorie == 'CARDE_CREATE' %}
            <img v-if="event.categorie === 'CARDE_CREATE'" class="img-fluid shadow border-radius-lg"
                src="{% static 'mvt_htmx/images/createEvent.jpg' %}" loading="lazy" alt="Image de l'évènement !" />
            {% else %}
            <img v-else class="img-fluid shadow border-radius-lg" src="{{ event.img_variations.crop }}" loading="lazy"
                alt="Image de l'évènement !" />
            {% endif %}
        </a>
    </div>
    <div class="card-body">
        <span class="card-title mt-3 h5 d-block text-dark">
            {% if event.categorie == 'CARDE_CREATE' %}
            Créer votre évènement
            {% else %}
            {{ event.name }}
            {% endif %}
        </span>

        <p class="text-dark">
            {% if event.categorie == 'CARDE_CREATE' %}
            Maintenant
            {% else %}
            {{ event.datetime|date:"j/m/Y - H:i:s" }}
            {% endif %}

            <span class="text-primary text-uppercase text-sm font-weight-bold tibillet-text-primary">
                {% for product in event.products.all %}
                <span>
                    {% if product.categorie_article == 'B' %}
                    {% for price in product.prices.all %}
                    <span> - {{ price.prix }}€</span>
                    {% endfor %}
                    {% endif %}
                </span>
                {% if product.categorie_article == 'F' %}
                <span> - ENTRÉE LIBRE</span>
                {% endif %}
                {% empty %}
                <span> - ENTRÉE LIBRE</span>
                {% endfor %}
            </span>
        </p>

        {% if event.short_description != None %}
        <p class="card-description mb-4">
            {{ event.short_description }}
        </p>
        {% endif %}

        {% if event.short_description == None and event.artists.first != None %}
        <p class="card-description mb-4">
            {{ event.artists.first.configuration.short_description }}
        </p>
        {% endif %}

        {% if event.categorie == 'CARDE_CREATE' %}
        <a href="/mvt/create_event/">
            <div class="btn btn-outline-primary tibillet-outline-primary btn-sm" role="button"
                aria-label="Créer un évènement">
                Valider
            </div>
        </a>
        {% else %}
        <a href="/mvt/event/{{ event.slug }}/">
            <div class="btn btn-outline-primary tibillet-outline-primary btn-sm" role="button"
                aria-label="Réserver {{ event.slug }}">
                {% if event.products.first == None %}
                Informations
                {% else %}
                Réserver
                {% endif %}
            </div>
        </a>
        {% endif %}
    </div>
</div>