{% load tibitags %}
<template id="tibillet-customer-template">
    {% include 'htmx/components/inputCustomer.html' with name="modele-template" %}
</template>
<template id="tibillet-nominative-price">
    <div class="d-flex flex-row justify-content-between align-items-center mb-3" role="group"
         aria-label="groupe interaction tarif xxxxx">
        <!-- nom tarif -->
        <h4 class="d-flex flex-row  align-items-center mb-0 font-weight-bolder text-info text-gradient"
            role="heading" aria-label="price.name"></h4>
        <!-- produit nominatif -->
        <button class="btn bg-primary text-white mb-0" type="button" role="button">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span class="ms-1">Ajouter une réservation</span>
        </button>
    </div>
</template>

<div class="container">
    {% for product in products.all %}
        {% if product.categorie_article|in_list:'F,B' %}
            <fieldset class="maj-theme shadow-sm p-3 mb-5 bg-body rounded test-card-billet">
                <legend>
                    <!-- nom ou image du produit -->
                    {% if replace_name_by_image == True %}
                        <img src="{{ host }}/media/{{ product.img }}" class="image-product" alt="{{ product.name }}"
                             style="height:20px;width:auto;">
                    {% else %}
                        <h3 class="font-weight-bolder text-info text-gradient align-self-start"
                            role="heading" :aria-label="Carte {{ forloop.counter0 }} : {{ product.name }}">
                            {{ product.name }}
                        </h3>
                    {% endif %}
                    {% if product.short_description != None %}
                        <h6 class="text-info">{{ product.short_description }}</h6>
                    {% endif %}
                    {% if product.short_description != None %}
                        <h6 class="text-info">{{ product.short_description }}</h6>
                    {% endif %}
                </legend>
                <!-- prix -->
                {% for price in product.prices.all %}
                    {% if price.adhesion_obligatoire != None %}
                        {% if user.is_authenticated == False %}
                            <!-- non connecté -->
                            <div class="d-flex mb-3 flex-column" role="group"
                                 aria-label="groupe interaction tarif, {{ price.name }}">
                                <!-- nom tarif -->
                                <h4 class="font-weight-bolder text-dark text-gradient" role="heading"
                                    aria-label="{{ price.name }}">
                                    {{ price.name|lower }} : {{ price.prix }} €
                                </h4>
                                <div class="mt-0 text-info font-weight-500"
                                     role="heading" aria-label="Connectez vous pour accéder à ce produit.">
                                    Connectez vous pour accéder à ce produit.
                                </div>
                            </div>
                        {% else %}
                            <!-- connecté -->
                            {% if  profile.membership|is_membership:price.adhesion_obligatoire == False %}
                                <!-- je ne suis pas adhérant -->
                                <div id="tibillet-activation-price-{{ price.uuid }}"
                                     class="d-flex flex-row justify-content-between align-items-center mb-3"
                                     role="group" aria-label="groupe interaction tarif {{ price.name }}">
                                    <!-- nom tarif -->
                                    <h4 class="font-weight-bolder text-dark text-gradient" role="heading"
                                        aria-label="{{ price.name }}">
                                        {{ price.name|lower }} : {{ price.prix }} €
                                    </h4>
                                    <button class="btn btn-primary mb-0" type="button" role="button"
                                            aria-label="Ajouter 'TODO: nom adhésion'"
                                            onclick="join('{{ price.uuid }}', '{{ price.name }}', '{{ price.prix }}',{{ price.stock }},{{ price.max_per_user }})">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        <span class="ms-1">Je m'abonne</span>
                                    </button>
                                <template id="tibillet-template-adhesion-required-{{ price.uuid }}">
                                    {% include 'htmx/components/cardMembership.html' with adhesion=price.adhesion_obligatoire %}
                                </template>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                        {% if price.adhesion_obligatoire == None or price.adhesion_obligatoire in valid_memberships %}
{#                    {% if price.adhesion_obligatoire == None or profile.membership|is_membership:price.adhesion_obligatoire == True %}#}
                        <!-- pas d'adhésion obligatoire ou utilisateur possède l'adhésion -->
                        <div class="d-flex flex-row justify-content-between align-items-center mb-3" role="group"
                             aria-label="groupe interaction tarif {{ price.name }}">
                            <!-- nom tarif -->
                            <h4 class="d-flex flex-row  align-items-center mb-0 font-weight-bolder text-info text-gradient"
                                role="heading" aria-label="{{ price.name }}">
                                {{ price.name|lower }} : {{ price.prix }} €
                            </h4>

                            {% if product.nominative == True %}
                                <!-- produit nominatif -->
                                <!-- TODO: getBtnAddCustomerCanBeSeen(product.uuid, price.uuid) -->
                                <button id="tibillet-add-reservation-{{ price.uuid }}"
                                        class="btn bg-primary text-white mb-0" type="button"
                                        role="button" aria-label="Ajouter une réservation - {{ price.name }}"
                                        data-index="{% if product.prices.count == 1 %}1{% else %}0{% endif %}"
                                        onclick="addReservation(this,'tibillet-customer','{{ price.uuid }}','{{ price.name }}',{{ price.stock }},{{ price.max_per_user }})">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <span class="ms-1">Ajouter une réservation</span>
                                </button>
                            {% else %}
                                <!-- produit non nominatif -->
                                {% include 'htmx/components/inputNumberNonNominatif.html' with min=0 %}
                            {% endif %}
                        </div>
                        {% if  product.nominative == True %}
                            <div id="tibillet-container-customers-{{ price.uuid }}" class="d-flex flex-column">
                                {% if  product.prices.count == 1 %}
                                    {% include 'htmx/components/inputCustomer.html' with name="tibillet-customer" %}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </fieldset>
        {% endif %}
        {% for price in product.prices.all %}
            {% if price.adhesion_obligatoire != None %}
                <!-- position adhésions obligatoire -->
                <div id="tibillet-adhesion-container-{{ price.uuid }}"></div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>