{% for product in event.products.all %}
    {% if product.categorie_article == 'D' %}
        <fieldset class="shadow-sm p-3 mb-5 bg-body rounded">
            <legend>
                <h3 class="font-weight-bolder text-info text-gradient align-self-start">Don</h3>
            </legend>

            <!-- activation -->
            <div class="form-switch">
                <input class="form-check-input" id="tibillet-don-{{ forloop.counter0 }}-{{ product.uuid }}"
                       type="checkbox" role="checkbox" aria-label="Activer le don."
                       name="tibillet-gift-{{ product.prices.all.0.uuid }}">
                <label class="form-check-label text-dark ms-2"
                       for="tibillet-don-{{ forloop.counter0 }}-{{ product.uuid }}">
                    Je donne {{ product.prices.all.0.prix }} € pour soutenir les actions de la coopérative
                    <a target="_blank" href="https://tibillet.org" data-bs-toggle="tooltip" data-bs-placement="top"
                       title="go TiBillet">TiBillet</a> en faveur de la culture et de l'économie sociale et
                    solidaire.
                </label>
            </div>

        </fieldset>
    {% endif %}
{% endfor %}
