<div class="input-group input-group-dynamic mb-4 is-filled">
    <label for="tibillet-input-{{ uuid.uuid4 }}" class="form-label">{{ label }}</label>
    <input name="{{ name }}" id="tibillet-input-{{ uuid.uuid4 }}" type="{{ type }}" class="form-control">

    {% for error in errors %}
        {% if error.id == id %}
            <div class="invalid-feedback" role="heading" aria-label="{{ error.msg }}"
                 style="display: block">{{ error.msg }}</div>
        {% endif %}
    {% endfor %}
</div>