<!-- Modal message success -->
<div class="modal fade" id="tibillet-login-response-success" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="maj-theme modal-content">
      <div class="modal-header bg-{{ modal_message.type }}">
        <h5 class="modal-title" id="exampleModalLabel">{{ modal_message.title }}</h5>
      </div>
      <div class="modal-body">
        {{ modal_message.content }}
      </div>
      <div class="modal-footer justify-content-end">
        <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>