{% load tibitags %}
{% load static %}
<nav class="navbar navbar-expand-lg fixed-top bg-dark opacity-8 z-index-3 w-100 shadow-none">
  <div class="container-fluid">
    <a class="navbar-brand  text-white cursor-pointer" rel="tooltip" title="Designed and Coded by Creative Tim"
       data-placement="bottom" target="_blank" hx-get="/mvt/home" hx-target="#main" hx-swap="outerHTML"
       hx-push-url="true">
      {{ tenant }}
    </a>
    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
            data-bs-target="#tibilet-navigation" aria-controls="tibilet-navigation" aria-expanded="false"
            aria-label="Toggle tibilet-navigation">
            <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </span>
    </button>
    <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="tibilet-navigation">
      <!-- positionner les li inversés -->
      <ul class="navbar-nav navbar-nav-hover w-100 flex-row-reverse text-white">
        <!-- utilisateur non connecté -->
        {% if user.is_authenticated == False %}
        <li>
          <a href="#" class="nav-item text-white mx-2" role="button" aria-label="Se connecter"
             data-bs-toggle="modal" data-bs-target="#tibillet-login-modal">
            <i class="fa fa-user" aria-hidden="true"></i>
            Se connecter
          </a>
        </li>
        {% else %}
        <li class="nav-item dropdown mx-2">
          <a href="#" class="dropdown-toggle text-white" id="menuUser" data-bs-toggle="dropdown">
            <i class="fa fa-user" aria-hidden="true"></i>
            Mon compte
          </a>
          <!-- sous menu user-->
          <ul class="dropdown-menu dropdown-menu-animation me-1 bg-white" aria-labelledby="menuUser">
            <!-- info email user connecté -->
            <li>
              <a class="dropdown-item" href="#">
                test1
              </a>
            </li>
          </ul>
        </li>
        {% endif %}

        {% if config.categorie|not_in_list:'M' and url_name != 'memberships' %}
        <li>
          <a href="#" class="nav-item text-white mx-2" hx-get="/mvt/memberships" hx-target="#main"
             hx-swap="outerHTML"
             hx-push-url="true" role="button" aria-label="Sélectionner une adhésion">
            <i class="fa fa-users" aria-hidden="true"></i>
            Adhésion
          </a>
        </li>
        {% endif %}
        <li>
          <a href="#" class="nav-item text-white mx-2" role="button" aria-label="Thème sombre" onclick="updateTheme()">
            <i class="fa fa-moon-o" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
