{% load tibitags %}

<header>
    <div class="page-header min-vh-50"
         style="background-image: url('{{ config.img.fhd.url | randImg }}');max-height: 365px">
        <span class="mask bg-dark opacity-8"></span>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-white text-center">
                    <h2 class="text-white" role="heading" aria-label="Nom du lieux : {{ config.organisation }}">
                        {{ config.organisation }}
                    </h2>
                    {% if config.short_description != None %}
                        <p class="lead" style="white-space: pre-line">{{ config.short_description }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- search -->
    {% if page_name == 'Accueil' %}
        <div class="container">
            {% include "htmx/components/search.html" %}
        </div>
    {% endif %}
    {% if config.long_description %}
        <div class="container mt-5" style="white-space: pre-line">
            {{ config.long_description }}
        </div>
    {% endif %}
</header>