<div class="container py-3 mt-3">
    <div class="row">
        <div class="col-4 mx-auto">
            <div class="form-check form-switch ps-0">
                <input name="{{ name }}" id="tibillet-input-toggle-{{ uuid.uuid4 }}"
                    class="form-check-input ms-auto mt-1" type="checkbox">
                <label for="tibillet-input-toggle-{{ uuid.uuid4 }}" class="form-check-label ms-2">{{ label }}</label>
            </div>
        </div>
        {% for error in errors %}
        {% if error.name == name %}
        <div class="invalid-feedback" role="heading" aria-label="{{ error.msg }}" style="display: block">{{ error.msg }}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>