{% load unfold i18n %}

<div class="bg-base-50 border border-base-200 border-dashed flex flex-col gap-4 p-6 rounded dark:bg-white/[.02] dark:border-base-700 lg:flex-row lg:items-center">
    <div class="flex flex-col">
        <h2 class="block font-semibold text-font-important-light text-base dark:text-font-important-dark">
            {% trans "Besoin d'un coup de main ?" %}
        </h2>

        <p class="leading-relaxed max-w-3xl mt-2">
            {% trans "Consultez la documentation ou écrivez à l'équipe TiBillet : accompagnement à la prise en main, support et développement sur mesure." %}
        </p>
    </div>

    <div class="lg:ml-auto">
        {% component "unfold/components/flex.html" with class="flex-col gap-4 lg:flex-row" %}
            {% component "unfold/components/button.html" with href="mailto:contact@tibillet.re" %}
                {% trans "Contacter l'équipe" %}
            {% endcomponent %}

            {% component "unfold/components/button.html" with href="https://tibillet.github.io/documentation_v3/" variant="default" %}
                {% trans "Lire la documentation" %}
            {% endcomponent %}
        {% endcomponent %}
    </div>
</div>
