<!--
 =========================================================
 * Blk• Design System Pro - v1.0.0
 =========================================================

 * Product Page: https://www.creative-tim.com/product/blk-design-system-pro
 * Copyright 2019 Creative Tim (http://www.creative-tim.com)

 * Coded by www.creative-tim.com

 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../../../static/blk-pro/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../../../static/blk-pro/assets/img/favicon.png">
  <title>
    Blk• Design System Pro by Creative Tim
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="../../../static/blk-pro/assets/css/nucleo-icons.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="../../../static/blk-pro/assets/css/blk-design-system-pro.css?v=1.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../../../static/blk-pro/assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="account-settings">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg  fixed-top navbar-transparent " color-on-scroll="300">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="https://demos.creative-tim.com/blk-design-system-pro/index.html" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
          <span>BLK•</span> Design System PRO
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a>
                BLK•
                <span> PRO </span>
              </a>
            </div>
            <div class="col-6 collapse-close text-right">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav ml-auto">
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="fa fa-cogs d-lg-none d-xl-none"></i> Getting started
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="../index.html" class="dropdown-item">
                <i class="tim-icons icon-paper"></i> Components
              </a>
              <a href="../presentation.html" class="dropdown-item">
                <i class="tim-icons icon-bullet-list-67"></i>Presentation Page
              </a>
              <a href="https://demos.creative-tim.com/blk-design-system-pro/docs/1.0/getting-started/overview.html" class="dropdown-item">
                <i class="tim-icons icon-book-bookmark"></i>Documentation
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
              <i class="tim-icons icon-paper" aria-hidden="true"></i>
              <p>Sections</p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="../sections.html#headers">
                <i class="tim-icons icon-app"></i> Headers
              </a>
              <a class="dropdown-item" href="../sections.html#features">
                <i class="tim-icons icon-settings"></i> Features
              </a>
              <a class="dropdown-item" href="../sections.html#blogs">
                <i class="tim-icons icon-align-left-2"></i> Blogs
              </a>
              <a class="dropdown-item" href="../sections.html#teams">
                <i class="tim-icons icon-user-run"></i> Teams
              </a>
              <a class="dropdown-item" href="../sections.html#projects">
                <i class="tim-icons icon-paper"></i> Projects
              </a>
              <a class="dropdown-item" href="../sections.html#pricing">
                <i class="tim-icons icon-money-coins"></i> Pricing
              </a>
              <a class="dropdown-item" href="../sections.html#testimonials">
                <i class="tim-icons icon-chat-33"></i> Testimonials
              </a>
              <a class="dropdown-item" href="../sections.html#contactus">
                <i class="tim-icons icon-mobile"></i> Contact Us
              </a>
              <a class="dropdown-item" href="../sections.html#tables">
                <i class="tim-icons icon-chart-bar-32"></i> Tables
              </a>
              <a class="dropdown-item" href="../sections.html#accordion">
                <i class="tim-icons icon-paper"></i> Accordion
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
              <i class="tim-icons icon-book-bookmark" aria-hidden="true"></i>
              <p>Examples</p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="../examples/about-us.html">
                <i class="tim-icons icon-bulb-63"></i> About-us
              </a>
              <a class="dropdown-item" href="../examples/blog-post.html">
                <i class="tim-icons icon-align-center"></i> Blog Post
              </a>
              <a class="dropdown-item" href="../examples/blog-posts.html">
                <i class="tim-icons icon-chart-bar-32"></i> Blog Posts
              </a>
              <a class="dropdown-item" href="../examples/contact-us.html">
                <i class="tim-icons icon-square-pin"></i> Contact Us
              </a>
              <a class="dropdown-item" href="../examples/landing-page.html">
                <i class="tim-icons icon-paper"></i> Landing Page
              </a>
              <a class="dropdown-item" href="../examples/pricing.html">
                <i class="tim-icons icon-coins"></i> Pricing
              </a>
              <a class="dropdown-item" href="../examples/ecommerce.html">
                <i class="tim-icons icon-basket-simple"></i> Ecommerce Page
              </a>
              <a class="dropdown-item" href="../examples/product-page.html">
                <i class="tim-icons icon-bag-16"></i> Product Page
              </a>
              <a class="dropdown-item" href="../examples/profile-page.html">
                <i class="tim-icons icon-lock-circle"></i> Profile Page
              </a>
              <a class="dropdown-item" href="../examples/error.html">
                <i class="tim-icons icon-button-power"></i> 404 Error Page
              </a>
              <a class="dropdown-item" href="../examples/500-error.html">
                <i class="tim-icons icon-alert-circle-exc"></i> 500 Error Page
              </a>
              <a href="#" class="dropdown-item dropdown-toggle" id="navbarDropdown2" data-toggle="dropdown">
                <i class="tim-icons icon-book-bookmark" aria-hidden="true"></i> App Pages
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                <a class="dropdown-item" href="../examples/account-settings.html">
                  <i class="tim-icons icon-lock-circle"></i> Account Settings
                </a>
                <a class="dropdown-item" href="../examples/login-page.html">
                  <i class="tim-icons icon-tablet-2"></i> Login Page
                </a>
                <a class="dropdown-item" href="../examples/register-page.html">
                  <i class="tim-icons icon-laptop"></i> Register Page
                </a>
                <a class="dropdown-item" href="../examples/reset-page.html">
                  <i class="tim-icons icon-molecule-40"></i> Reset Page
                </a>
                <a class="dropdown-item" href="../examples/invoice-page.html">
                  <i class="tim-icons icon-notes"></i> Invoice Page
                </a>
                <a class="dropdown-item" href="../examples/checkout-page.html">
                  <i class="tim-icons icon-basket-simple"></i> Checkout Page
                </a>
                <a class="dropdown-item" href="../examples/chat-page.html">
                  <i class="tim-icons icon-email-85"></i> Chat Page
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-sm btn-default" href="https://www.creative-tim.com/product/blk-design-system-pro" target="_blank">
              <p>Buy Now</p>
            </a>
          </li>
          <!-- <li class="nav-item">
					<a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
						<i class="fab fa-twitter"></i>
						<p class="hidden-lg-up">Twitter</p>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
						<i class="fab fa-facebook-square"></i>
						<p class="hidden-lg-up">Facebook</p>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
						<i class="fab fa-instagram"></i>
						<p class="hidden-lg-up">Instagram</p>
					</a>
				</li> -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="wrapper">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="section">
              <!-- User Information -->
              <section class="text-center">
                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                  <div class="fileinput-new thumbnail img-circle img-raised">
                    <img src="../../../static/blk-pro/assets/img/placeholder.jpg" alt="...">
                  </div>
                  <div class="fileinput-preview fileinput-exists thumbnail img-circle img-raised"></div>
                  <div>
                    <span class="btn btn-raised btn-round btn-default btn-file">
                      <span class="fileinput-new">Add Photo</span>
                      <span class="fileinput-exists">Change</span>
                      <input type="file" name="...">
                    </span>
                    <br>
                    <a href="#pablo" class="btn btn-danger btn-round fileinput-exists btn-simple" data-dismiss="fileinput"><i class="tim-icons icon-simple-remove"></i> Remove</a>
                  </div>
                </div>
                <h3 class="title">Charlie Bailey</h3>
              </section>
              <!-- User Information -->
              <!-- Profile Sidebar -->
              <section>
                <br>
                <ul class="nav flex-column" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                      <i class="tim-icons icon-single-02"></i> General
                    </a>
                  </li>
                  <hr class="line-primary">
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">
                      <i class="tim-icons icon-credit-card"></i> Billing
                    </a>
                  </li>
                  <hr class="line-primary">
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#link3" role="tablist">
                      <i class="tim-icons icon-lock-circle"></i> Security
                    </a>
                  </li>
                  <hr class="line-primary">
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#link4" role="tablist">
                      <i class="tim-icons icon-volume-98"></i> Notifications
                    </a>
                  </li>
                </ul>
              </section>
              <!-- End Profile Sidebar -->
              <!-- Profile Completion -->
              <br>
              <br>
              <br>
              <section>
                <div class="progress-container progress-primary">
                  <span class="progress-badge">Profile Completion</span>
                  <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                      <span class="progress-value">60%</span>
                    </div>
                  </div>
                </div>
              </section>
              <!-- End Profile Completion -->
            </div>
          </div>
          <div class="col-md-8 ml-auto">
            <div class="section">
              <div class="tab-content">
                <div class="tab-pane active" id="link1">
                  <div>
                    <header>
                      <h2 class="text-uppercase">General information</h2>
                    </header>
                    <hr class="line-primary">
                    <br>
                    <div class="row">
                      <div class="col-md-3 align-self-center">
                        <label class="labels" for="#firstName">First Name</label>
                      </div>
                      <div class="col-md-9 align-self-center">
                        <div class="form-group">
                          <input id="firstName" name="firstName" class="form-control" type="text" value="Charlie" required="required">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 align-self-center">
                        <label class="labels" for="#lastName">Last Name</label>
                      </div>
                      <div class="col-md-9 align-self-center">
                        <div class="form-group">
                          <input id="lastName" name="lastName" class="form-control" type="text" value="Bailey" required="required">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 align-self-center">
                        <label class="labels">I’m</label>
                      </div>
                      <div class="col-md-4 align-self-center">
                        <div class="form-group">
                          <select class="selectpicker" data-size="7" data-style="btn btn-primary" title="Single Select">
                            <option disabled selected>Gender</option>
                            <option value="2">Male</option>
                            <option value="3">Female</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 align-self-center">
                        <label class="labels">Birth Date</label>
                      </div>
                      <div class="col-md-9 align-self-center">
                        <div class="row">
                          <div class="col-md-4 align-self-center">
                            <div class="form-group">
                              <select class="selectpicker" data-size="7" data-style="btn btn-primary" title="Single Select">
                                <option>January</option>
                                <option>February</option>
                                <option>March</option>
                                <option selected="selected">April</option>
                                <option>May</option>
                                <option>June</option>
                                <option>July</option>
                                <option>August</option>
                                <option>September</option>
                                <option>October</option>
                                <option>November</option>
                                <option>December</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <select class="selectpicker" data-size="7" data-style="btn btn-primary" title="Single Select">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option selected="selected">11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                                <option>28</option>
                                <option>29</option>
                                <option>30</option>
                                <option>31</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <select class="selectpicker" data-size="7" data-style="btn btn-primary" title="Single Select">
                                <option>1986</option>
                                <option>1987</option>
                                <option>1988</option>
                                <option selected="selected">1989</option>
                                <option>1990</option>
                                <option>1991</option>
                                <option>1992</option>
                                <option>1993</option>
                                <option>1994</option>
                                <option>1995</option>
                                <option>1996</option>
                                <option>1997</option>
                                <option>1998</option>
                                <option>1999</option>
                                <option>2000</option>
                                <option>2001</option>
                                <option>2002</option>
                                <option>2003</option>
                                <option>2004</option>
                                <option>2005</option>
                                <option>2006</option>
                                <option>2007</option>
                                <option>2008</option>
                                <option>2009</option>
                                <option>2010</option>
                                <option>2011</option>
                                <option>2012</option>
                                <option>2013</option>
                                <option>2014</option>
                                <option>2015</option>
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 align-self-center">
                        <label class="labels" for="#email">Email</label>
                      </div>
                      <div class="col-md-9 align-self-center">
                        <div class="form-group">
                          <input id="email" name="email" class="form-control" type="email" value="charlie.bailey@example.com" required="required">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 align-self-center">
                        <label class="labels" for="#confirmEmail">Confirm Email</label>
                      </div>
                      <div class="col-md-9 align-self-center">
                        <div class="form-group">
                          <input id="confirmEmail" name="confirmEmail" class="form-control" type="email" value="charlie.bailey@example.com" required="required">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 align-self-center">
                        <label class="labels" for="#location">Your Location</label>
                      </div>
                      <div class="col-md-9 align-self-center">
                        <div class="form-group">
                          <input id="location" name="location" class="form-control" type="text" value="Sydney, A" required="required">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 align-self-center">
                        <label class="labels" for="#phone">Phone Number</label>
                      </div>
                      <div class="col-md-4 align-self-center">
                        <div class="form-group">
                          <input id="phone" name="phone" class="form-control" type="tel" value="+40 745 031 200" required="required">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 align-self-center">
                        <label class="labels">Language</label>
                      </div>
                      <div class="col-md-4 align-self-center">
                        <div class="form-group">
                          <select class="selectpicker" data-size="7" data-style="btn btn-primary" title="Single Select">
                            <option selected>English</option>
                            <option value="2">French</option>
                            <option value="3">Spanish</option>
                            <option value="4">Deutsche</option>
                            <option value="4">Russian</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 align-self-center">
                        <label class="labels">Skills</label>
                      </div>
                      <div class="col-md-9 align-self-center">
                        <input type="text" value="HTML5,CSS3,JavaScript,React" class="tagsinput" data-role="tagsinput" data-color="danger" />
                      </div>
                    </div>
                    <div class="row mt-4">
                      <div class="col-md-6">
                        <button class="btn btn-primary" type="submit">Save Changes</button>
                        <button class="btn btn-primary btn-simple" type="reset">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="link2">
                  <header>
                    <h2 class="text-uppercase">Billing method</h2>
                  </header>
                  <hr class="line-primary">
                  <br>
                  <table class="table align-items-center">
                    <thead>
                      <tr>
                        <th scope="col">Card Type</th>
                        <th scope="col">Card Number</th>
                        <th scope="col">Payment Method</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">
                          <img alt="Image" src="../../../static/blk-pro/assets/img/visas.png" class="avatar">
                        </th>
                        <td>
                          <span class="d-block">•••• •••• •••• 8372</span>
                          <small class="text-muted">Exp: 06/22</small>
                        </td>
                        <td class="text-center">
                          <div class="form-check form-check-radio">
                            <label class="form-check-label">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="Radios" value="option2" checked>
                              <span class="form-check-sign"></span>
                            </label>
                          </div>
                        </td>
                        <td>
                          <button type="submit" class="btn btn-danger btn-sm btn-simple">
                            <i class="tim-icons icon-simple-remove"></i> Remove card
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">
                          <img alt="Image" src="../../../static/blk-pro/assets/img/mastercard.png" class="avatar">
                        </th>
                        <td>
                          <span class="d-block">•••• •••• •••• 1225</span>
                          <small class="text-muted">Exp: 07/21</small>
                        </td>
                        <td class="text-center">
                          <div class="form-check form-check-radio">
                            <label class="form-check-label">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="Radios" value="option1">
                              <span class="form-check-sign"></span>
                            </label>
                          </div>
                        </td>
                        <td>
                          <button type="submit" class="btn btn-danger btn-sm btn-simple">
                            <i class="tim-icons icon-simple-remove"></i> Remove card
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <button class="btn btn-primary btn-sm">
                    <i class="tim-icons icon-simple-add"></i> Add card
                  </button>
                </div>
                <div class="tab-pane" id="link3">
                  <div class="g-pos-rel h-100 g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-30--md">
                    <header>
                      <h2 class="text-uppercase g-font-size-12 g-font-size-default--md g-color-black mb-0">Security Questions</h2>
                    </header>
                    <hr class="line-primary">
                    <form>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Security Question</label>
                          <div class="form-group">
                            <select class="selectpicker" data-size="7" data-style="btn btn-primary" title="Single Select">
                              <option disabled selected>Your Question</option>
                              <option value="2">Question 1</option>
                              <option value="3">Question 2</option>
                              <option value="4">Question 3</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label>Your Answer</label>
                          <div class="form-group">
                            <input class="form-control" type="text" placeholder="Enter your answer">
                          </div>
                        </div>
                      </div>
                      <br>
                      <br>
                      <header>
                        <h2 class="text-uppercase">Security Settings</h2>
                      </header>
                      <hr class="line-primary">
                      <div class="form-group d-flex align-items-center justify-content-between">
                        <span>Notify me via email when logging in</span>
                        <input type="checkbox" name="checkbox" class="bootstrap-switch" checked data-on-label="ON" data-off-label="OFF" />
                      </div>
                      <div class="form-group d-flex align-items-center justify-content-between">
                        <span>Send SMS confirmation for all online payments</span>
                        <input type="checkbox" name="checkbox" class="bootstrap-switch" checked data-on-label="ON" data-off-label="OFF" />
                      </div>
                      <div class="form-group d-flex align-items-center justify-content-between">
                        <span>Check which devices accessed your account</span>
                        <input type="checkbox" name="checkbox" class="bootstrap-switch" data-on-label="ON" data-off-label="OFF" />
                      </div>
                      <div class="form-group d-flex align-items-center justify-content-between">
                        <span>Find My Device, make sure your device can be found if it gets lost</span>
                        <input type="checkbox" name="checkbox" class="bootstrap-switch" checked data-on-label="ON" data-off-label="OFF" />
                      </div>
                      <div class="form-group d-flex align-items-center justify-content-between">
                        <span>Lock your device with a PIN, pattern, or password</span>
                        <input type="checkbox" name="checkbox" class="bootstrap-switch" checked data-on-label="ON" data-off-label="OFF" />
                      </div>
                      <div class="form-group d-flex align-items-center justify-content-between">
                        <span>Manage what apps have access to app-usage data on your device</span>
                        <input type="checkbox" name="checkbox" class="bootstrap-switch" data-on-label="ON" data-off-label="OFF" />
                      </div>
                      <div class="row mt-5 justify-content-end">
                        <div class="col-md-4 ml-auto">
                          <button class="btn btn-primary btn-sm btn-simple" type="reset">Cancel</button>
                          <button class="btn btn-primary btn-sm" type="button">Save Changes</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="tab-pane" id="link4">
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="alert alert-primary text-small" role="alert">
                          <i class="icon-shield"></i>
                          <span>
                            We will never distribute your email address to third parties. Read about email communication in our privacy policy.
                          </span>
                        </div>
                      </div>
                      <!--end of col-->
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-12">
                        <form>
                          <h5 class="mb-4">Notification Preferences</h5>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" checked>
                              <span class="form-check-sign"></span>
                              Someone mentions me
                            </label>
                          </div>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" checked>
                              <span class="form-check-sign"></span>
                              Someone follows me
                            </label>
                          </div>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox">
                              <span class="form-check-sign"></span>
                              Someone shares my activty
                            </label>
                          </div>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox">
                              <span class="form-check-sign"></span>
                              Someone messages me
                            </label>
                          </div>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox">
                              <span class="form-check-sign"></span>
                              Someone adds me to a project
                            </label>
                          </div>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox">
                              <span class="form-check-sign"></span>
                              Sales and promotions
                            </label>
                          </div>
                          <button type="submit" class="btn btn-primary btn-sm mt-4">Update preferences</button>
                        </form>
                      </div>
                      <!--end of col-->
                    </div>
                    <!--end of row-->
                    <hr>
                    <div class="row">
                      <div class="col-12">
                        <form>
                          <h5>Notification Frequency</h5>
                          <div class="form-check form-check-radio">
                            <label class="form-check-label">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleF" value="option1">
                              <span class="form-check-sign"></span>
                              Daily
                            </label>
                          </div>
                          <div class="form-check form-check-radio">
                            <label class="form-check-label">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleF" value="option2" checked>
                              <span class="form-check-sign"></span>
                              Weekly
                            </label>
                          </div>
                          <div class="form-check form-check-radio">
                            <label class="form-check-label">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleF" value="option3">
                              <span class="form-check-sign"></span>
                              Monthly
                            </label>
                          </div>
                          <div class="form-check form-check-radio">
                            <label class="form-check-label">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleF" value="option4">
                              <span class="form-check-sign"></span>
                              Never
                            </label>
                          </div>
                          <button type="submit" class="btn btn-primary btn-sm mt-4">Update</button>
                        </form>
                      </div>
                      <!--end of col-->
                    </div>
                    <!--end of row-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h1 class="title">BLK•</h1>
          </div>
          <div class="col-md-3 col-6">
            <ul class="nav">
              <li class="nav-item">
                <a href="../index.html" class="nav-link">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a href="../examples/landing-page.html" class="nav-link">
                  Landing
                </a>
              </li>
              <li class="nav-item">
                <a href="../examples/register-page.html" class="nav-link">
                  Register
                </a>
              </li>
              <li class="nav-item">
                <a href="../examples/profile-page.html" class="nav-link">
                  Profile
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-6">
            <ul class="nav">
              <li class="nav-item">
                <a href="https://creative-tim.com/contact-us?ref=blkdsp-footer" class="nav-link">
                  Contact Us
                </a>
              </li>
              <li class="nav-item">
                <a href="https://creative-tim.com/about-us?ref=blkdsp-footer" class="nav-link">
                  About Us
                </a>
              </li>
              <li class="nav-item">
                <a href="http://creative-tim.com/blog?ref=blkdsp-footer" class="nav-link">
                  Blog
                </a>
              </li>
              <li class="nav-item">
                <a href="https://opensource.org/licenses/MIT?ref=blkdsp-footer" class="nav-link">
                  License
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3 class="title">Follow us:</h3>
            <div class="btn-wrapper profile text-left">
              <a target="_blank" href="https://twitter.com/creativetim" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Follow us">
                <i class="fab fa-twitter"></i>
              </a>
              <a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Like us">
                <i class="fab fa-facebook-square"></i>
              </a>
              <a target="_blank" href="https://dribbble.com/creativetim" class="btn btn-icon btn-neutral  btn-round btn-simple" data-toggle="tooltip" data-original-title="Follow us">
                <i class="fab fa-dribbble"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!--   Core JS Files   -->
  <script src="../../../static/blk-pro/assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="../../../static/blk-pro/assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../../../static/blk-pro/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <script src="../../../static/blk-pro/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="../../../static/blk-pro/assets/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../../../static/blk-pro/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Plugin for the Carousel, full documentation here: http://kenwheeler.github.io/slick/ -->
  <script src="../../../static/blk-pro/assets/js/plugins/slick.js" type="text/javascript"></script>
  <!--  Plugin for the blob animation -->
  <script src="../../../static/blk-pro/assets/js/plugins/anime.min.js" type="text/javascript"></script>
  <!-- Chart JS -->
  <script src="../../../static/blk-pro/assets/js/plugins/chartjs.min.js"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="../../../static/blk-pro/assets/js/plugins/moment.min.js"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="../../../static/blk-pro/assets/js/plugins/bootstrap-tagsinput.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="../../../static/blk-pro/assets/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="../../../static/blk-pro/assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="../../../static/blk-pro/assets/js/plugins/jasny-bootstrap.min.js"></script>
  <!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="../../../static/blk-pro/assets/demo/demo.js"></script>
  <!-- Control Center for Black UI Kit: parallax effects, scripts for the example pages etc -->
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <script src="../../../static/blk-pro/assets/js/blk-design-system-pro.min.js?v=1.0.0" type="text/javascript"></script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "black-dashboard-pro"
      });
  </script>
</body>

</html>
