<!--
 =========================================================
 * Blk• Design System Pro - v1.0.0
 =========================================================

 * Product Page: https://www.creative-tim.com/product/blk-design-system-pro
 * Copyright 2019 Creative Tim (http://www.creative-tim.com)

 * Coded by www.creative-tim.com

 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../../../static/blk-pro/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../../../static/blk-pro/assets/img/favicon.png">
  <title>
    Blk• Design System Pro by Creative Tim
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="../../../static/blk-pro/assets/css/nucleo-icons.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="../../../static/blk-pro/assets/css/blk-design-system-pro.css?v=1.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../../../static/blk-pro/assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="pricing">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg  fixed-top navbar-transparent " color-on-scroll="300">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="https://demos.creative-tim.com/blk-design-system-pro/index.html" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
          <span>BLK•</span> Design System PRO
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a>
                BLK•
                <span> PRO </span>
              </a>
            </div>
            <div class="col-6 collapse-close text-right">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav ml-auto">
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="fa fa-cogs d-lg-none d-xl-none"></i> Getting started
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="../index.html" class="dropdown-item">
                <i class="tim-icons icon-paper"></i> Components
              </a>
              <a href="../presentation.html" class="dropdown-item">
                <i class="tim-icons icon-bullet-list-67"></i>Presentation Page
              </a>
              <a href="https://demos.creative-tim.com/blk-design-system-pro/docs/1.0/getting-started/overview.html" class="dropdown-item">
                <i class="tim-icons icon-book-bookmark"></i>Documentation
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
              <i class="tim-icons icon-paper" aria-hidden="true"></i>
              <p>Sections</p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="../sections.html#headers">
                <i class="tim-icons icon-app"></i> Headers
              </a>
              <a class="dropdown-item" href="../sections.html#features">
                <i class="tim-icons icon-settings"></i> Features
              </a>
              <a class="dropdown-item" href="../sections.html#blogs">
                <i class="tim-icons icon-align-left-2"></i> Blogs
              </a>
              <a class="dropdown-item" href="../sections.html#teams">
                <i class="tim-icons icon-user-run"></i> Teams
              </a>
              <a class="dropdown-item" href="../sections.html#projects">
                <i class="tim-icons icon-paper"></i> Projects
              </a>
              <a class="dropdown-item" href="../sections.html#pricing">
                <i class="tim-icons icon-money-coins"></i> Pricing
              </a>
              <a class="dropdown-item" href="../sections.html#testimonials">
                <i class="tim-icons icon-chat-33"></i> Testimonials
              </a>
              <a class="dropdown-item" href="../sections.html#contactus">
                <i class="tim-icons icon-mobile"></i> Contact Us
              </a>
              <a class="dropdown-item" href="../sections.html#tables">
                <i class="tim-icons icon-chart-bar-32"></i> Tables
              </a>
              <a class="dropdown-item" href="../sections.html#accordion">
                <i class="tim-icons icon-paper"></i> Accordion
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
              <i class="tim-icons icon-book-bookmark" aria-hidden="true"></i>
              <p>Examples</p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="../examples/about-us.html">
                <i class="tim-icons icon-bulb-63"></i> About-us
              </a>
              <a class="dropdown-item" href="../examples/blog-post.html">
                <i class="tim-icons icon-align-center"></i> Blog Post
              </a>
              <a class="dropdown-item" href="../examples/blog-posts.html">
                <i class="tim-icons icon-chart-bar-32"></i> Blog Posts
              </a>
              <a class="dropdown-item" href="../examples/contact-us.html">
                <i class="tim-icons icon-square-pin"></i> Contact Us
              </a>
              <a class="dropdown-item" href="../examples/landing-page.html">
                <i class="tim-icons icon-paper"></i> Landing Page
              </a>
              <a class="dropdown-item" href="../examples/pricing.html">
                <i class="tim-icons icon-coins"></i> Pricing
              </a>
              <a class="dropdown-item" href="../examples/ecommerce.html">
                <i class="tim-icons icon-basket-simple"></i> Ecommerce Page
              </a>
              <a class="dropdown-item" href="../examples/product-page.html">
                <i class="tim-icons icon-bag-16"></i> Product Page
              </a>
              <a class="dropdown-item" href="../examples/profile-page.html">
                <i class="tim-icons icon-lock-circle"></i> Profile Page
              </a>
              <a class="dropdown-item" href="../examples/error.html">
                <i class="tim-icons icon-button-power"></i> 404 Error Page
              </a>
              <a class="dropdown-item" href="../examples/500-error.html">
                <i class="tim-icons icon-alert-circle-exc"></i> 500 Error Page
              </a>
              <a href="#" class="dropdown-item dropdown-toggle" id="navbarDropdown2" data-toggle="dropdown">
                <i class="tim-icons icon-book-bookmark" aria-hidden="true"></i> App Pages
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                <a class="dropdown-item" href="../examples/account-settings.html">
                  <i class="tim-icons icon-lock-circle"></i> Account Settings
                </a>
                <a class="dropdown-item" href="../examples/login-page.html">
                  <i class="tim-icons icon-tablet-2"></i> Login Page
                </a>
                <a class="dropdown-item" href="../examples/register-page.html">
                  <i class="tim-icons icon-laptop"></i> Register Page
                </a>
                <a class="dropdown-item" href="../examples/reset-page.html">
                  <i class="tim-icons icon-molecule-40"></i> Reset Page
                </a>
                <a class="dropdown-item" href="../examples/invoice-page.html">
                  <i class="tim-icons icon-notes"></i> Invoice Page
                </a>
                <a class="dropdown-item" href="../examples/checkout-page.html">
                  <i class="tim-icons icon-basket-simple"></i> Checkout Page
                </a>
                <a class="dropdown-item" href="../examples/chat-page.html">
                  <i class="tim-icons icon-email-85"></i> Chat Page
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-sm btn-default" href="https://www.creative-tim.com/product/blk-design-system-pro" target="_blank">
              <p>Buy Now</p>
            </a>
          </li>
          <!-- <li class="nav-item">
					<a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
						<i class="fab fa-twitter"></i>
						<p class="hidden-lg-up">Twitter</p>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
						<i class="fab fa-facebook-square"></i>
						<p class="hidden-lg-up">Facebook</p>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
						<i class="fab fa-instagram"></i>
						<p class="hidden-lg-up">Instagram</p>
					</a>
				</li> -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="wrapper">
    <div class="page-header header-filter page-header-small">
      <div class="page-header-image" style="background-image: url('../../../static/blk-pro/assets/img/lucas-benjamin.jpg');">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h1 class="title">Our Pricing Plan</h1>
            <h4 class="description">To get started, you will need to choose a plan for your needs. You have Free Unlimited Updates and Premium Support on each package.</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="pricing-2 project-raised">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card card-pricing">
                <div class="card-header bg-danger">
                  <span class="badge badge-default">Pro</span>
                  <h1 class="card-title">
                    <small>$</small>45</h1>
                  <h5>per month</h5>
                </div>
                <div class="card-body">
                  <ul>
                    <li><i class="tim-icons icon-check-2"></i> 2000 MB</li>
                    <li><i class="tim-icons icon-email-85"></i> 100 email</li>
                    <li><i class="tim-icons icon-chart-bar-32"></i> 10 Databases</li>
                    <li><i class="tim-icons icon-alert-circle-exc"></i> Support</li>
                  </ul>
                  <a href="#pablo" class="btn btn-info mt-4">
                    Get started
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-pricing">
                <div class="card-header bg-info">
                  <span class="badge badge-default">Starter</span>
                  <h1 class="card-title">
                    <small>$</small>22</h1>
                  <h5>per month</h5>
                </div>
                <div class="card-body">
                  <ul>
                    <li><i class="tim-icons icon-check-2"></i> 1000 MB</li>
                    <li><i class="tim-icons icon-email-85"></i> 3 email</li>
                    <li><i class="tim-icons icon-chart-bar-32"></i> 5 Databases</li>
                    <li><i class="tim-icons icon-alert-circle-exc"></i> No Support</li>
                  </ul>
                  <a href="#pablo" class="btn btn-info mt-4">
                    Get started
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-pricing">
                <div class="card-header bg-warning">
                  <span class="badge badge-default">Enterprise</span>
                  <h1 class="card-title">
                    <small>$</small>68</h1>
                  <h5>per month</h5>
                </div>
                <div class="card-body">
                  <ul>
                    <li><i class="tim-icons icon-check-2"></i> 10.000 MB</li>
                    <li><i class="tim-icons icon-email-85"></i> Unlimited emails</li>
                    <li><i class="tim-icons icon-chart-bar-32"></i> 50 Databases</li>
                    <li><i class="tim-icons icon-alert-circle-exc"></i> Premium Support</li>
                  </ul>
                  <a href="#pablo" class="btn btn-info mt-4">
                    Get started
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="features-1">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <span class="badge badge-primary badge-pill">Insight</span>
              <h1 class="title">Full-Funnel Social Analytics</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="info info-hover">
                <div class="icon icon-primary">
                  <img class="bg-blob" src="../../../static/blk-pro/assets/img/feature-blob/primary.png">
                  <i class="tim-icons icon-user-run"></i>
                </div>
                <h4 class="info-title">Social Conversations</h4>
                <p class="description">Gain access to the demographics, psychographics, and location of unique people.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info info-hover">
                <div class="icon icon-success">
                  <img class="bg-blob" src="../../../static/blk-pro/assets/img/feature-blob/success.png">
                  <i class="tim-icons icon-atom"></i>
                </div>
                <h4 class="info-title">Analyze Performance</h4>
                <p class="description">Unify data from Facebook, Instagram, Twitter, LinkedIn, and Youtube to gain rich insights.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info info-hover">
                <div class="icon icon-warning">
                  <img class="bg-blob" src="../../../static/blk-pro/assets/img/feature-blob/warning.png">
                  <i class="tim-icons icon-gift-2"></i>
                </div>
                <h4 class="info-title">Measure Conversions</h4>
                <p class="description">Track actions taken on your website, understand the impact on your bottom line.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contactus-3">
        <div class="page-header header-filter">
          <div class="page-header-image" style="background-image: url('../../../static/blk-pro/assets/img/andre-benz.jpg');"></div>
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <h1 class="title">Got a question?</h1>
                <h3>We'd like to talk more about what you need</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <div class="info info-hover">
                <div class="icon icon-primary">
                  <img class="bg-blob" src="../../../static/blk-pro/assets/img/feature-blob/primary.png">
                  <i class="tim-icons icon-square-pin"></i>
                </div>
                <h4 class="info-title">Address</h4>
                <p class="description">12124 First Street, nr 54</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="info info-hover">
                <div class="icon icon-info">
                  <img class="bg-blob" src="../../../static/blk-pro/assets/img/feature-blob/info.png">
                  <i class="tim-icons icon-email-85"></i>
                </div>
                <h4 class="info-title">Email</h4>
                <p class="description">support@youremail.com</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="info info-hover">
                <div class="icon icon-warning">
                  <img class="bg-blob" src="../../../static/blk-pro/assets/img/feature-blob/warning.png">
                  <i class="tim-icons icon-mobile"></i>
                </div>
                <h4 class="info-title">Phone Number</h4>
                <p class="description">+1(424) 535 3523</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="info info-hover">
                <div class="icon icon-success">
                  <img class="bg-blob" src="../../../static/blk-pro/assets/img/feature-blob/success.png">
                  <i class="tim-icons icon-single-02"></i>
                </div>
                <h4 class="info-title">Contact</h4>
                <p class="description">Andrew Samian</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section projects-2">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">We continually work to improve</h2>
              <h4 class="description">By accepting this, you will be kept up to date on new developments concerning the CMS</h4>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-4">
              <div class="card card-blog">
                <div class="card-image h-100">
                  <img class="img rounded" src="http://s3.amazonaws.com/creativetim_bucket/products/38/original/opt_mk_thumbnail.jpg?1458052306s">
                </div>
                <div class="card-body text-left">
                  <div class="card-footer mt-0">
                    <div class="stats stats-right">
                      <div class="stars text-warning">
                        <i class="tim-icons icon-shape-star"></i>
                        <i class="tim-icons icon-shape-star"></i>
                        <i class="tim-icons icon-shape-star"></i>
                        <i class="tim-icons icon-shape-star"></i>
                        <i class="tim-icons icon-shape-star"></i>
                      </div>
                    </div>
                    <div class="author">
                      <img src="../../../static/blk-pro/assets/img/Tim.png" alt="..." class="avatar img-raised">
                      <span>Material Kit</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-blog">
                <div class="card-image h-100">
                  <img class="img rounded" src="https://s3.amazonaws.com/creativetim_bucket/products/93/original/opt_bd_thumbnail.jpg?1535098178">
                </div>
                <div class="card-body text-left">
                  <div class="card-footer mt-0">
                    <div class="stats stats-right">
                      <i class="tim-icons icon-heart-2 text-danger"></i> 342 ·
                      <i class="tim-icons icon-single-copy-04 text-info"></i> 43
                    </div>
                    <div class="author">
                      <img src="../../../static/blk-pro/assets/img/Tim.png" alt="..." class="avatar img-raised">
                      <span>Black Dashboard</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-blog">
                <div class="card-image h-100">
                  <img class="img rounded" src="https://s3.amazonaws.com/creativetim_bucket/products/137/original/opt_adp_thumbnail.jpg?1544778965">
                </div>
                <div class="card-body text-left">
                  <div class="card-footer mt-0">
                    <div class="stats stats-right">
                      <i class="tim-icons icon-heart-2 text-danger"></i> 127
                    </div>
                    <div class="author">
                      <img src="../../../static/blk-pro/assets/img/Tim.png" alt="..." class="avatar img-raised">
                      <span>Argon Dashboard Pro</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="subscribe-line">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-10 ml-auto mr-auto">
              <div class="text-center">
                <h2 class="title">Subscribe to our Newsletter</h2>
                <p class="description">
                  You'll be informed about updates, special offers and planned changes..
                </p>
              </div>
              <div class="card card-raised card-form-horizontal">
                <div class="card-body">
                  <form method="" action="">
                    <div class="row">
                      <div class="col-sm-8">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="tim-icons icon-email-85"></i></span>
                          </div>
                          <input type="email" class="form-control" placeholder="Your Email...">
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <button type="button" class="btn btn-primary">Subscribe</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h1 class="title">BLK•</h1>
          </div>
          <div class="col-md-3 col-6">
            <ul class="nav">
              <li class="nav-item">
                <a href="../index.html" class="nav-link">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a href="../examples/landing-page.html" class="nav-link">
                  Landing
                </a>
              </li>
              <li class="nav-item">
                <a href="../examples/register-page.html" class="nav-link">
                  Register
                </a>
              </li>
              <li class="nav-item">
                <a href="../examples/profile-page.html" class="nav-link">
                  Profile
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-6">
            <ul class="nav">
              <li class="nav-item">
                <a href="https://creative-tim.com/contact-us?ref=blkdsp-footer" class="nav-link">
                  Contact Us
                </a>
              </li>
              <li class="nav-item">
                <a href="https://creative-tim.com/about-us?ref=blkdsp-footer" class="nav-link">
                  About Us
                </a>
              </li>
              <li class="nav-item">
                <a href="http://creative-tim.com/blog?ref=blkdsp-footer" class="nav-link">
                  Blog
                </a>
              </li>
              <li class="nav-item">
                <a href="https://opensource.org/licenses/MIT?ref=blkdsp-footer" class="nav-link">
                  License
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3 class="title">Follow us:</h3>
            <div class="btn-wrapper profile text-left">
              <a target="_blank" href="https://twitter.com/creativetim" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Follow us">
                <i class="fab fa-twitter"></i>
              </a>
              <a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Like us">
                <i class="fab fa-facebook-square"></i>
              </a>
              <a target="_blank" href="https://dribbble.com/creativetim" class="btn btn-icon btn-neutral  btn-round btn-simple" data-toggle="tooltip" data-original-title="Follow us">
                <i class="fab fa-dribbble"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!--   Core JS Files   -->
  <script src="../../../static/blk-pro/assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="../../../static/blk-pro/assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../../../static/blk-pro/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <script src="../../../static/blk-pro/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="../../../static/blk-pro/assets/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../../../static/blk-pro/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Plugin for the Carousel, full documentation here: http://kenwheeler.github.io/slick/ -->
  <script src="../../../static/blk-pro/assets/js/plugins/slick.js" type="text/javascript"></script>
  <!--  Plugin for the blob animation -->
  <script src="../../../static/blk-pro/assets/js/plugins/anime.min.js" type="text/javascript"></script>
  <!-- Chart JS -->
  <script src="../../../static/blk-pro/assets/js/plugins/chartjs.min.js"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="../../../static/blk-pro/assets/js/plugins/moment.min.js"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="../../../static/blk-pro/assets/js/plugins/bootstrap-tagsinput.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="../../../static/blk-pro/assets/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="../../../static/blk-pro/assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="../../../static/blk-pro/assets/js/plugins/jasny-bootstrap.min.js"></script>
  <!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="../../../static/blk-pro/assets/demo/demo.js"></script>
  <!-- Control Center for Black UI Kit: parallax effects, scripts for the example pages etc -->
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <script src="../../../static/blk-pro/assets/js/blk-design-system-pro.min.js?v=1.0.0" type="text/javascript"></script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "black-dashboard-pro"
      });
  </script>
</body>

</html>
