{% extends base_template %}
{% load static i18n tibitags %}

{% block main %}
    <main class="container-lg py-5">
        <p class="lead mb-5">
            {% trans 'Linked email:' %} <code>{{ user.email }}</code><br/>

            {% if profile.admin_this_tenant %}
                <span class="text-danger">{% trans 'Administrator' %}</span>
            {% endif %}
        </p>

        {% if not user.email_valid %}
            <div class="alert alert-warning mb-5" role="alert">
                {% translate "Please confirm your email address to access advanced features." %}<br/>
                <a aria-label="{% translate 'Resend validation email' %}"
                   href="#"
                   hx-get="/my_account/resend_activation_email/">
                    {% translate "Resend validation email" %}
                </a>
            </div>
        {% endif %}
        
        {% if account_tab != 'index' %}
        <a href="/my_account/" class="btn btn-secondary w-100 p-3 mb-3">
            {% translate 'Back to my account' %}
        </a>
        {% endif %}

        {% block account_page %}{% endblock %}

    </main>
{% endblock %}
