{% extends base_template %}

  {% block main %}

  <div class="container mt-7">
    <div class="row">

      {% if user.is_staff == True %}
      <div class="col-lg-4 col-md-6 mb-7">
        {% include "htmx/components/cardEvent.html" with event=fake_event %}
      </div>
      {% endif %}

      {% for event in events %}
      <div class="col-lg-4 col-md-6 mb-7 ">
        {% include "htmx/components/cardEvent.html" with event=event %}
      </div>
      {% endfor %}


    </div>
  </div>
  {% endblock main %}