{% extends base_template %}
{% load static %}
{% block main %}
    {% include "htmx/header_groupe.html" %}
    <div class="container-fluid vw-100 d-flex flex-column align-items-center">
    <!-- image évènement -->
    <!--  produits: nom du produit / prix (nom du prix et tarifs)-->

    </div>
    <!--
    <div class="container py-7">
        <div class="row mt-5">
            <div class="col-sm-3 col-6 mx-auto">

                <div class="container py-7">
                    <div class="row mt-5">
                        <div class="col-sm-3 col-6 mx-auto">

                            //-- Modal --
                            <div class="modal fade" id="exampleModalForm" tabindex="-1"
                                 aria-labelledby="exampleModalForm"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">

                                    {% include 'htmx/subscription/modal.html' %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
-->
{% endblock main %}
