{% extends base_template %}

{% block main %}
    {% include "htmx/header_groupe.html" %}

    <!-- artistes -->
    <div class="container mt-5">
        {% if event.artists != None %}
            <div>
                {% for art in event.artists.all %}
                    {% include "htmx/components/cardArtist.html" with artist=art.configuration %}
                {% endfor %}
            </div>
        {% endif %}

        {% if event.products.all.count > 0 %}
                <form id="event-form" hx-post="/validate_event/" hx-target="#tibillet-modal-message" hx-swap="outerHTML" novalidate
                    hx-on:htmx:before-request="validateForm(event); validateConfirmEmail()" hx-on:htmx:after-request="eventActionAfterSwap()">
                {% csrf_token %}

                <!-- slug -->
                <input type="text" name="slug" value="{{slug}}" style="display: none;"/>

                <!-- email-->
                {% include "htmx/components/cardEmail.html" with email=event.email %}

                <!-- tickets / billets -->
                {% include "htmx/components/cardTickets.html" with products=event.products replace_name_by_image=False %}

                <!-- cashless -->
                {% include "htmx/components/cardCreditCashless.html" with products=event.products min=5 max=1000 %}

                <!-- options de l'évènement -->
                {% include "htmx/components/cardOptions.html" %}

                <!-- don -->
                {% include "htmx/components/cardGifts.html" %}

                <div class="d-flex flex-row">
                    <button type="submit" class="btn bg-gradient-info btn-lg mt-4 mb-2 w-75 mx-auto" role="button"
                            aria-label="Valider la réservation">
                        Valider la réservation
                    </button>
                </div>
            </form>
        {% endif %}
    </div>
    <script>
        function eventActionAfterSwap() {
            // afficher le modal de retour de requête
            window.setTimeout(() => {
                // wait swap finish
                showModal('#tibillet-modal-message')
            }, 400)
        }

        function validateConfirmEmail() {
            // console.log('-> fonc validateConfirmEmail !')
            const emailValue = document.querySelector('#card-email-email').value
            const confirmEmail = document.querySelector('#card-email-confirm-email')
            if (confirmEmail !== null) {
                const confirmEmailValue = confirmEmail.value
                if (confirmEmailValue !== emailValue) {
                    // met le input confirme email en mode invalide
                    confirmEmail.parentNode.classList.remove('is-valid')
                    confirmEmail.parentNode.classList.add('is-invalid')
                    // scroll et focus le input confirme email
                    confirmEmail.scrollIntoView({ behavior: 'smooth', inline: 'center', block: 'center' })
                    confirmEmail.focus()
                } else {
                    // met le input confirme email en mode valide
                    confirmEmail.parentNode.classList.remove('is-invalid')
                    confirmEmail.parentNode.classList.add('is-valid')
                }
            }
        }
    </script>
{% endblock main %}