{% extends base_template %}

{% block main %}
    {% include "htmx/header_groupe.html" %}

    <div class="container pt-7 pb-5">
        {% for membership in memberships %}
            <div class="row justify-space-between py-2">
                <div class="card card-plain card-blog mt-5">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-image position-relative border-radius-lg">
                                <img class="img border-radius-lg w-100 h-auto" src="/media/{{ membership.img }}"
                                     alt="image product" loading="lazy"/>
                            </div>
                        </div>
                        <div class="col-md-7 my-auto ms-md-3 mt-md-auto mt-4">
                            <h3>{{ membership.name }}</h3>
                            {% if membership.short_description != None %}
                                <p style="white-space: pre-line">
                                    {{ membership.short_description }}
                                </p>
                            {% endif %}
                            {% if membership.long_description != None %}
                                <p style="white-space: pre-line">
                                    {{ membership.long_description }}
                                </p>
                            {% endif %}
                            <button class="btn btn-outline-secondary btn-sm"
                                    data-bs-toggle="modal"
                                    data-bs-target="#tibillet-membership-modal-{{ membership.uuid }}"
                                    role="button" aria-label="Adhérez {{ membership.name }}">
                                Adhérez
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- modals -->
    <pre>{{ json }}</pre>
    {% for membership in memberships %}
        {% include 'htmx/forms/membership_form.html' %}
    {% endfor %}
{% endblock main %}
