DJANGO_SECRET='CHANGE_ME_OR_DANSE'
POSTGRES_HOST='billetterie_postgres'
POSTGRES_USER='ticket_postgres_user'
POSTGRES_PASSWORD='CHANGE_ME_OR_DANSE'
POSTGRES_DB='tibillet'

CELERY_BROKER='redis://redis:6379/0'
CELERY_BACKEND='redis://redis:6379/0'

BORG_PASSPHRASE='CHANGE_ME_OR_DANSE'

DEBUG_DJANGO=True
TIME_ZONE='Indian/Reunion'

API_TIBILLET_BILLETERIE_VERS_CASHLESS="CHANGE_ME_OR_DANSE"
DOMAIN='django-local.org'
PUBLIC='TiBillet Coop.'
EMAIL='change@me.org'


EMAIL_HOST="SSL0.OVH.NET"
EMAIL_PORT="465"
EMAIL_HOST_USER="proutprout@proutprout.prout"
EMAIL_HOST_PASSWORD="CHANGE_ME_OR_DANSE"

MAILJET_APIKEY=""
MAILJET_SECRET=""

SRIPE_KEY=""
SRIPE_KEY_TEST=""

API_PEXELS=""