{% load i18n %}

<!-- le bouton en fin de page -->
<button
        class="btn btn-lg btn-primary w-100 mb-5"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#bookingPanel"
        aria-controls="bookingPanel">
    {% translate 'Je réserve ma place' %}
</button>

<!-- booking panel -->
<div class="offcanvas-start offcanvas" tabindex="-1" id="bookingPanel" aria-labelledby="bookingPanelLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="bookingPanelLabel">{% translate 'Je réserve ma place' %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {# TODO: load all forms through htmx? #}
        {% include 'reunion/forms/event/booking.html' %}
    </div>
</div>
  