{% load i18n %}
{% load tibitags %}
<div id="eventCarousel" class="carousel slide">
    <div class="carousel-inner" style="max-height: 33vh;">
    <div class="carousel-item active">
        {% include 'reunion/partials/picture.html' %}
    </div>
    <div class="carousel-item">
        {% include 'reunion/partials/picture.html' %}
    </div>
    <div class="carousel-item">
        {% include 'reunion/partials/picture.html' %}
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#eventCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">{% translate 'Précédent' %}</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#eventCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">{% translate 'Suivant' %}</span>
    </button>
</div>
