{% load i18n %}
{% load tibitags %}

<p class="text-end mb-5">
    <a href="/rss/latest/feed/" target="_blank" rel="noopener noreferrer" aria-label="{% trans 'Event feed' %}">
        <i class="bi bi-rss-fill"></i> {% trans "Event feed" %}
    </a>
</p>

{% for date_key, events in dated_events.items %}
    <h2 class="fs-5 p-3 text-dark" style="background: var(--mayaj-pons);">
        {{ date_key|date:'l j F'|capfirst }}
    </h2>
    {% for event in events %}
        <div class="row align-items-center mb-3">
            <div class="col-md-auto">
                <h3 class="mb-0 mt-2 mt-md-0">{{ event.datetime|time:'H\hi' }}</h3>
            </div>
            <div class="col-auto py-3" style="width: 140px">
                {% include 'reunion/partials/picture.html' with img=event.img alt=event.name ratio='4x3' class='rounded' %}
            </div>
            {#  <a href="{{ event.full_url }}" hx-get="{{ event.full_url }}" hx-target="body" hx-push-url="true" class="col fs-5">#}
            <a href="/event/{{ event.slug }}/" hx-boost="true" hx-target="body" class="col fs-5" {% if embed %}target="_blank" {% endif %}> <!-- Si c'est embed, on ouvre dans une page externe -->
                {{ event.name }}
            </a>
            <div class="col-md-auto text-md-end event-tags">
                {% for tag in event.tag.all %}
                    <a href="?tag={{ tag.slug }}" hx-boost="true" class="btn btn-info btn-sm mb-1">
                        {{ tag.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
        {% if not forloop.last %}
            <hr/>{% endif %}
    {% endfor %}
{% empty %}
{% trans 'No results for this search.' %}
{% endfor %}

{% if paginated_info.has_next %}
    {#TODO : Le paginator ne classe pas. Dans le cas d'un calendrier partagé, les dates ne sont pas cohérentes. #}
    <p class="py-3 mb-5 text-center" id="paginator">
        <a class="btn btn-outline-primary d-block d-sm-inline"
           hx-boost="true" hx-post="/event/partial_list/?page={{ paginated_info.page | add:1 }}"
           hx-include="#search_form" hx-target="#paginator" hx-swap="outerHTML">
            {% translate "Load more events" %}
        </a>
    </p>
{% else %}
<div class="mb-5"></div>
{% endif %}
