<!-- search and filtering -->
<form class="my-3" action=".">
    <div class="input-group input-group-lg">
        <button class="btn btn-outline-secondary position-relative" type="button" id="button-filters" data-bs-toggle="offcanvas"
        data-bs-target="#filterPanel" aria-controls="filterPanel">
        <i class="bi bi-funnel"></i>
        <span class="js-filter-indicator position-absolute top-0 start-0 translate-middle p-2 bg-info rounded-circle d-md-none">
            <span class="visually-hidden">Filtres actifs</span>
        </span>

        </button>
        <div id="filterTags" class="btn-group">
        <button class="btn btn-info d-none d-md-block" type="button" id="button-addon1">
            Punk <i class="bi bi-x"></i>
        </button>
        </div>
        <div class="form-floating">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="un évènement">
        <label for="exampleFormControlInput1" class="form-label"> Je recherche… </label>
        </div>
        <button class="btn btn-outline-primary" id="inputGroup-sizing-lg" type="submit">
        <i class="bi bi-search"></i>
        </button>
    </div>
    </form>

    <!-- filtering panel -->
    <div class="offcanvas-start offcanvas" tabindex="-1" id="filterPanel" aria-labelledby="filterPanelLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="filterPanelLabel">Filtres</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked>
        <label class="form-check-label" for="flexSwitchCheckDefault">Date de départ</label>
        </div>
        <input id="startDate" class="form-control mb-3" type="date" />
        <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckOff1">
        <label class="form-check-label" for="flexSwitchCheckOff1">Date de fin</label>
        </div>
        <label for="maxPrice" class="form-label mb-0">Prix maximal</label>
        <input type="range" class="form-range" list="tickmarks" id="maxPrice">
        <datalist id="tickmarks">
        <option value="0" label="gratuit"></option>
        <option value="5"></option>
        <option value="10"></option>
        <option value="20"></option>
        <option value="30"></option>
        <option value="50"></option>
        <option value="75"></option>
        <option value="100" label="tous"></option>
        </datalist>
        <label class="form-label" for="genreSelector">Genre musical</label>
        <select class="form-select mb-3" id="genreSelector" multiple aria-label="Floating label select example">
        <option selected>Tous</option>
        <option value="blues">Blues</option>
        <option value="eclectique">Éclectique</option>
        <option value="electro">Électro</option>
        <option value="folk">Folk</option>
        <option value="hardcore">Hardcore</option>
        <option value="jazz">Jazz</option>
        <option value="noise">Noise</option>
        <option value="punk">Punk</option>
        <option value="rap">Rap</option>
        <option value="rock">Rock</option>
        <option value="shoegaze">Shoegaze</option>
        <option value="techno">Techno</option>
        </select>
        <div class="form-floating mb-3">
        <input list="locationData" type="text" class="form-control" id="floatingInput" placeholder="Tous">
        <label for="floatingInput">Lieu</label>
        </div>
        <datalist id="locationData">
        <option value="coxx">Coxx</option>
        <option value="place-des-beaux-arts">Place des Beaux-Arts</option>
        <option value="secret-place">Secret place</option>
        </datalist>

        <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkPMR">
        <label class="form-check-label" for="checkPMR">
            Accès PMR
        </label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkSubs" checked>
        <label class="form-check-label" for="checkSubs">
            Sous-titres
        </label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkComCopies" checked>
        <label class="form-check-label" for="checkComCopies">
            Tarif solidaire
        </label>
        </div>
        <div class="position-absolute bottom-0 start-0 end-0 p-3">
        <a href="." class="btn btn-primary d-block mb-3">Valider</a>
        <a href="." class="btn btn-danger d-block">Effacer</a>
        </div>
    </div>
    </div>
