DJANGO_SECRET=''

POSTGRES_HOST='billetterie_postgres'
POSTGRES_USER='ticket_postgres_user'
POSTGRES_PASSWORD=''
POSTGRES_DB='tibillet'

BORG_PASSPHRASE=''
BORG_REPO=''

DEBUG_DJANGO=False
#DEBUG_DJANGO=True
TIME_ZONE='Europe/Paris'

PUBLIC='TiBillet Coop.'
DOMAIN='tibillet.coop'
META='agenda'

EMAIL=''

EMAIL_HOST="SSL0.OVH.NET"
EMAIL_PORT="465"
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""

CELERY_BROKER='redis://redis:6379/0'
CELERY_BACKEND='redis://redis:6379/0'

STRIPE_KEY=""
STRIPE_KEY_TEST=""
STRIPE_TEST=False
