# CHANGE ME
DJANGO_SECRET='ingeci8ar6Ahr6aiBi!ghovezahs@eiNgai4eingaa1zaeRi7E'

POSTGRES_HOST='tibillet_postgres'
POSTGRES_USER='tibillet_postgres_user'
POSTGRES_PASSWORD='tibillet_postgres_password'
POSTGRES_DB='tibillet'

DEBUG_DJANGO=True
TIME_ZONE='Indian/Reunion'

DOMAIN='tibillet-local.me'
EMAIL='me@me.me'

EMAIL_HOST=""
EMAIL_PORT=""
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""

MOLLIE_API_KEY = ""
