{% extends "laboutik/base.html" %}
{% load static i18n %}

{% block content %}
<c-read-nfc id="nfc-container" event-manage-form="primaryCardManageForm" submit-url="{% url 'laboutik-caisse-carte_primaire' %}">
	<form id="form-nfc" class="hide" hx-post="{% url 'laboutik-caisse-carte_primaire' %}" hx-trigger="nfcResult" hx-target=".message-nfc"
		hx-swap="innerHTML">
		{% csrf_token %}
		<input id="nfc-tag-id" name="tag_id" />
	</form>
	<h1>{% translate "Attente carte primaire" %}</h1>
	<h3 class="message-nfc">{{msg}}</h3>
</c-read-nfc>

<script>
	// gestionnaire de formulaire
	function primaryCardManageForm(event) {
		try {
			const data = event.detail
			const form = document.querySelector('#form-nfc')

			// update input
			if (data.actionType === 'updateInput') {
				form.querySelector(data.selector).value = data.value
			}

			// change post url
			if (data.actionType === 'postUrl') {
				form.setAttribute('hx-post', data.value)
				htmx.process(form)
			}

			// submit form
			if (data.actionType === 'submit') {
				form.setAttribute('hx-trigger', 'click')
				htmx.process(form)
				// submit
				form.click()
			}

		} catch (error) {
			console.log('-> addition.js - additionManageForm,', error)
		}
	}
	// écoute des commandes sur le formulaire "#form-nfc"
	document.querySelector('#form-nfc').addEventListener('primaryCardManageForm', primaryCardManageForm)
</script>
{% endblock content %}

{% block css %}
<style>
	.message-nfc {
		min-height: 1.5rem;
		margin-bottom: 0.7rem;
		font-weight: bold;
		white-space: pre-line;
		text-align: center;
		color: var(--yellow00);
	}
</style>
{% endblock css %}