{% load static i18n %}

{% if action == 'hide_only' %}
<div id="bt-retour-layer{{layer}}" class="bt-basic-container bt-basic-bg-return" onclick="document.querySelector('{{ selector_bt_retour }}').classList.add('hide')" style="z-index: 4;">
{% else %}
<div id="bt-retour-layer{{layer}}" class="bt-basic-container bt-basic-bg-return" onclick="hideAndEmptyElement('{{ selector_bt_retour }}')" style="z-index: 4;">
{% endif %}
	<div class="bt-basic-icon">
		<i class="fas fa-undo-alt"></i>
	</div>
	<div class="bt-basic-text">
		<div>{% translate "RETOUR" %}</div>
	</div>
</div>
