{% load static i18n %}
{% load laboutik_process %}

<div id="messages" class="BF-col">
	<h1 class="message-title">{% translate "Types de paiement" %}</h1>
	<!-- cashless -->
	{% if 'nfc' in moyens_paiement %}
	<div class="bt-basic-container bt-basic-bg-success" hx-get="read_nfc" hx-trigger="click"
		hx-target="#messages" hx-swap="outerHTML" hx-on:click="modifyPaymentNfc()">
		<div class="bt-basic-icon">
			<i class="fas fa-address-card"></i>
		</div>
		<div class="bt-basic-text">
			<div>{% translate "CASHLESS" %}</div>
			<div class="paiement-bt-total">
				<span>{% translate "Total" %}</span>
				<span>{{ total }}</span>
				<span>{{ currency_data.symbol }}</span>
			</div>
		</div>
	</div>
	{% endif %}

	<!-- espèce, pas une consigne -->
	{% if 'espece' in moyens_paiement %}
	<div class="bt-basic-container bt-basic-bg-success" hx-get="confirm_payment?method=espece" hx-trigger="click"
		hx-target="#confirm" hx-swap="outerHTML">
		<div class="bt-basic-icon">
			<i class="fas fa-address-card"></i>
		</div>
		<div class="bt-basic-text">
			<div>{% translate "ESPÈCE" %}</div>
			<div class="paiement-bt-total">
				<span>{% translate "Total" %}</span>
				<span>{{ total }}</span>
				<span>{{ currency_data.symbol }}</span>
			</div>
		</div>
	</div>
	{% endif %}

	<!-- TODO: espèce, une consigne: espèce à rendre, depositIsPresent -->
	{% if 'espece' in moyens_paiement %}
	{% endif %}

	<!-- carte bancaire -->
	{% if 'carte_bancaire' in moyens_paiement %}
	<div class="bt-basic-container bt-basic-bg-success" hx-get="confirm_payment?method=carte_bancaire" hx-trigger="click"
		hx-target="#confirm" hx-swap="outerHTML">
		<div class="bt-basic-icon">
			<i class="fas fa-address-card"></i>
		</div>
		<div class="bt-basic-text">
			<div>{% translate "CB" %}</div>
			<div class="paiement-bt-total">
				<span>{% translate "Total" %}</span>
				<span>{{ total }}</span>
				<span>{{ currency_data.symbol }}</span>
			</div>
		</div>
	</div>
	{% endif %}

	<!-- cheque -->
	{% if 'CH' in moyens_paiement %}
	<div class="bt-basic-container bt-basic-bg-success" hx-get="confirm_payment?method=CH" hx-trigger="click"
		hx-target="#confirm" hx-swap="outerHTML">
		<div class="bt-basic-icon">
			<i class="fas fa-address-card"></i>
		</div>
		<div class="bt-basic-text">
			<div>{% translate "CH" %}</div>
			<div class="paiement-bt-total">
				<span>{% translate "Total" %}</span>
				<span>{{ total }}</span>
				<span>{{ currency_data.symbol }}</span>
			</div>
		</div>
	</div>
	{% endif %}

	<!-- bouton "OFFRIR"  en mode gérant uniquement masi pas pour le point de ventes "CASHLESS" -->

	<!-- pas de moyens de paiement -->
	{% if moyens_paiement|length == 0%}
	<h3 style="color: var(--warning);">{% translate "Aucun moyen de paiement" %}</h3>
	{% endif %}

	<!-- include bt_return.html -->
	{% include "components/bt_return.html" with selector=selector layer=1 %}
</div>

<script>
	function modifyPaymentNfc() {
		console.log('-> modifyPaymentNfc')
		document.querySelector('#addition-moyen-paiement').value = 'nfc'
	}
</script>

<style>
	#messages {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		color: var(--blanc01);
		font-size: 1.5rem;
		text-align: center;
		background-color: var(--bleu09);
	}

	.message-title {
		font-size: 1.5rem;
		font-weight: bold;
	}

	/* button */
	.paiement-bt-total {
		font-size: 1.5rem;
	}

</style>