{% load static i18n %}

<div id="paiement-message" class="BF-col">
	<h1>{{ msg_content }}</h1>

	<a id="bt-return" class="BF-ligne" href="pv_route?uuid_pv={{uuid_pv}}&tag_id_cm={{tag_id_cm}}&id_table={{id_table}}">
		<i class="fas fa-undo md4px"></i>
		<div class="BF-col-deb">
			<div>{% translate "Return" %}</div>
		</div>
	</a>
</div>

<style>
	#paiement-message {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 999;
		color: var(--blanc01);
		font-size: 1.5rem;
		background-color: var(--noir01);
	}

	#bt-return {
		width: 30%;
		height: 90px;
		background-color: var(--bleu02);
		color: var(--blanc01);
		cursor: pointer;
		font-size: 2.5rem;
		text-decoration: none;
		i {
			margin-right: 4px;
		}
	}
</style>