{% load i18n %}

{% blocktranslate %}
<div>
    <span>Hello and welcome!</span>
</div>
<div>
    <p>
        You wish to create a new Lèspass instance to get your collective
        "{{ waiting_config.organisation }}" started with TiBillet, thank you!
    </p>
    <p>
        In order to finalize your account, we need a Stripe account (so we can
        transfer the money from your sales ☺️).
    </p>
    <p>
        Please fill in the Stripe onboarding form by following the link below.
        Once Stripe validates your account, we'll get in touch (on a work day)
        to finalize your instance.
    </p>
    <p>
        Until then, you can get in touch through our
        <a href="mailto:contact@tibillet.re">support email</a> or with our
        community hubs on <a  href="https://discord.gg/7FJvtYx">Discord</a>,
        <a href="https://matrix.to/#/#tibillet:tiers-lieux.org">Matrix</a> or
        <a href="https://pouet.chapril.org/@tibillet">Mastodon</a>.
    </p>
    <p>We hope you enjoy your time with us!</p>
    <p><a href="{{ create_url_for_onboard_stripe }}">
        -&gt; Confirm my request and get started with the Stripe onboarding
        process &lt;-
    </a></p>
</div>
{% endblocktranslate %}
