{% extends "arnaud_mvc/base.html" %}
{% load static %}
{% block content %}
    {% get_media_prefix as MEDIA_PREFIX %}
    <div class="meta">

        <div class="card-meta-100">
            <div class="img-card-full">
                <div class="effet"></div>
                <div class="info-fullcard B">

                    {#                    <h1 class="title-fullcard">{{ event.name }}</h1>#}
                    <h1 class="title-fullcard">{{ configuration.organisation }}</h1>
                    <h3 class="date-fullcard">{{ event.datetime | date:"D d F" }} {{ event.datetime | time }}</h3>
                    <h3 class="style-fullcard">{{ event.short_description }}</h3>

                    {#                    <div class="card-footer-link">#}
                    {#                        <a href=""><img src="{% static 'arnaud_mvc/img/meta/likebtn.png' %}"#}
                    {#                                        alt="logo billeterie Ti Billet" class="linkcard"#}
                    {#                                        style="max-height: 50px;"></a>#}
                    {#                        <a href=""><img src="{% static 'arnaud_mvc/img/meta/reserver.png' %}"#}
                    {#                                        alt="logo billeterie Ti Billet" class="linkcard"#}
                    {#                                        style="max-height: 50px;"></a>#}
                    {#                    </div>#}

                    {% for product in event.products.all %}
                        {% if product.categorie_article == categorie_billet %}
                            <h3 style="font-size: 1.7rem; margin-top:10px;">
                                {% for price in product.prices.all %}
                                    {% if forloop.first %}
                                        {{ price.prix | floatformat:"-2" }}
                                    {% else %}
                                        / {{ price.prix | floatformat:"-2" }}
                                    {% endif %}
                                {% endfor %}
                                €</h3>
                        {% endif %}
                    {% endfor %}
                </div>
                <img src="{{ MEDIA_PREFIX }}{{ event.img }}" alt="Image de la vignette" class="cover">
            </div>

        </div>

        {#        <div class="card-meta-50 artiste-bloc" style="background-color: #140f0c;">#}
        {#            <div class="description">#}
        {#                <div class="arttop"#}
        {#                     style="display: flex; flex-direction: row; justify-content: space-between; width: 100%; align-items: center; margin-bottom: 20px;">#}
        {#                    <h1 class="title-artiste">Le Bisik</h1>#}
        {##}
        {#                    <img src="../img/aside/lieux.svg" alt="billeterie Ti Billet"#}
        {#                         style="max-width: 30px; margin-right: 5%;">#}
        {##}
        {#                </div>#}
        {##}
        {#                <span class="text-event">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem </span>#}
        {#                <div class="linksocial">#}
        {#                    <a href="" style="padding: 5px; color: black;"><i class="fab fa-facebook-square fa-2x"></i></a>#}
        {#                    <a href="" style="padding: 5px; color: black;"><i class="fab fa-instagram-square fa-2x"></i></a>#}
        {#                </div>#}
        {#                <a href="#" style="text-decoration:none; color:black;padding-left:5%;"><i#}
        {#                        class="fas fa-globe fa-1x"></i>#}
        {#                    http://www.chakouataventure.re</a>#}
        {##}
        {#            </div>#}
        {#        </div>#}

        <div class="card-meta-100 artiste-bloc" style="background-color: #140f0c;">
            <div class="description">
                <div class="arttop"
                     style="display: flex; flex-direction: row; justify-content: space-between; width: 100%; align-items: center; margin-bottom: 20px;">
                    <h1 class="title-artiste">{{ event.name }}</h1>
                    {#                    <img src="../img/aside/artistes.svg" alt="billeterie Ti Billet"#}
                    {#                         style="max-width: 30px; margin-right: 5%;">#}

                </div>

                <span class="text-event">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem </span>
                <div class="linksocial">
                    {% if event.event_facebook_url %}
                        <a href="" style="padding: 5px; color: black;"><i class="fab fa-facebook-square fa-2x"></i></a>
                    {% endif %}

                    {# <a href="" style="padding: 5px; color: black;"><i class="fab fa-instagram-square fa-2x"></i></a>#}
                </div>

{#                <a href="#" style="text-decoration:none; color:black;padding-left:5%;"><i#}
{#                        class="fas fa-globe fa-1x"></i>#}
{#                    http://www.chakouataventure.re</a>#}

            </div>

        </div>


    </div>
{% endblock content %}