{% load i18n %}

<div class="container pt-5">

    {#    {% include "htmx/fragments/card.html" %}#}

    <div class="d-flex flex-row" hx-indicator="#tibillet-spinner">
        <button type="submit" class="btn bg-gradient-info btn-lg mt-2 p-4 mb-2 w-75 mx-auto"
                role="button"
                aria-label="Je recharge ma tirelire"
                hx-get="/my_account/refill_wallet">
            {% translate "Refill my wallet" %}
        </button>
    </div>


    <div hx-get="/my_account/tokens_table/" hx-trigger="revealed" class="mt-4">
        <span>{% translate "Loading tokens" %}</span>
        <div class="d-flex justify-content-center align-items-center ">
            <div class="spinner-border text-info"
                 role="status"
            ></div>
        </div>
    </div>

    <div class="mt-4 mb-2">
        <div class="d-flex flex-row" id="transactions_table" hx-indicator="#tibillet-spinner">
            <button type="submit"
                    class="btn bg-gradient-dark-blue btn-lg p-4  w-75 mx-auto test-return-show-transactions"
                    role="button"
                    aria-label="valider formulaire adhésion"
                    hx-get="/my_account/transactions_table/"
                    hx-target="#transactions_table"
                    hx-swap="outerHTML">
                {% translate "Show the last transactions" %}
            </button>
        </div>
    </div>

    <div>
        <span>Attention, je peux me faire rembourser en ligne uniquement ma tirelire fédérée, c'est-à-dire rechargée en ligne. Les recharges en espèce sur place ne peuvent être remboursées que sur place.</span>
    </div>
    <button hx-get="/my_account/refund_online/"
            hx-trigger='confirmed'
            hx-indicator="#tibillet-spinner"
            onClick="Swal.fire({
                showCancelButton: true,
                title: 'Remboursement en ligne',
                html:`Etes vous sûr de vouloir vous faire rembourser ?<br><br>Votre tirelire est disponible à vie et pourra être ré-utilisée lors d'un prochain évènement.<br><br>Vous pouvez aussi faire <strong>don à l'association</strong> du reste de votre tirelire : Sans utilisation de votre part pendant 14 mois la somme sera prélevée et redistribuée (on vous préviendra).<br><br> Et si vous changez d'avis d'ici la, vous savez où venir dépenser votre tirelire :-)`,
                confirmButtonText: `Je me rembourse`,
                cancelButtonText: `Je garde pour plus tard`,

            }).then((result)=>{
            if(result.isConfirmed){
              htmx.trigger(this, 'confirmed');
            }
        })">
        {% translate "Je souhaite récupérer ma tirelire fédérée" %}
    </button>

</div>


