{% load i18n %}

<div class="container" id="#reset-password">
    <div class="row justify-content-center">
        <div class="col-xl-5 col-md-8">
            <div class="bg-gray-100 rounded shadow-5-strong p-5">
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}

                <div class="mb-4">
                    <span class="h4 fw-bold">Create Admin Account for : {{ user.username }}</span>
                </div>
                <!-- Email input -->
                <div class="form-outline mb-4" data-mdb-input-init>
                    <input type="email" id="form1Example1" class="form-control" value="{{ user.email }}"
                           disabled name="email"/>
                    <label class="form-label" for="form1Example1">Email address</label>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4" data-mdb-input-init>
                    <input type="text" id="form1Example1" class="form-control" value="{{ user.username }}"
                           disabled name="username"/>
                    <label class="form-label" for="form1Example1">Username</label>
                </div>


                <!-- Password input -->
                <div class="form-outline mb-4" data-mdb-input-init>
                    <input type="password" id="form1Example2" class="form-control" name="password"/>
                    <label class="form-label" for="form1Example2">Password</label>
                </div>


                <!-- Password input -->
                <div class="form-outline mb-4" data-mdb-input-init>
                    <input type="password" id="form1Example2" class="form-control" name="confirm_password"/>
                    <label class="form-label" for="form1Example2">Confirm password</label>
                </div>


                <!-- Submit button -->
                <button class="btn btn-primary btn-block"
                        hx-post="/my_account/reset_password/"
                        hx-include="closest div"
                        hx-indicator="#tibillet-spinner">
                    {% translate "Create/Reset admin password" %}
                </button>
            </div>
        </div>
    </div>
</div>
