{% load static %}
<link rel="stylesheet" href="{% static 'css/win_bottom_right.css' %}" />
<nav id="win-bottom-right">
  <div class="key-touch key-size1 win-bottom-right-g1">ESPECES</div>
  <div class="key-touch key-size1 win-bottom-right-g1">CB</div>
  <div class="key-touch key-size1 win-bottom-right-g1">CHEQUE</div>
  <div class="key-touch key-size1 win-bottom-right-g1">CASHLESS</div>
  <div class="key-touch key-size1 win-bottom-right-g1">MIXTE</div>
  <div class="key-touch key-size1 win-bottom-right-g1">OFFIR</div>
  <div class="key-touch key-size1 c-white bc-info">TICKET</div>
  <div class="key-touch key-size1 c-white bc-purple">SEND PREPA</div>
  <div class="key-touch key-size3 c-white bc-success win-bottom-right-valider">VALIDER</div>
   <div class="key-touch key-size1 win-bottom-right-status">
      <div class="line-status">
        <div class="led-status bc-green-led"></div>
        <div>VENTES</div>
      </div>
      <div class="line-status">
        <div class="led-status bc-red-led"></div>
        <div>NOTE</div>
      </div>
    </div>
</nav>
<!-- 
<nav id="win-bottom-right">
  <div class="payment-modes-content">
    <div class="key-touch bc-place">ESPECES</div>
    <div class="key-touch bc-place">CB</div>
    <div class="key-touch bc-place">CHEQUE</div>
    <div class="key-touch bc-place">CASHLESS</div>
    <div class="key-touch bc-place">MIXTE</div>
    <div class="key-touch bc-place">OFFIR</div>
  </div>
  <div class="payment-actions-container">
    <div class="payment-actions-content">
      //-- TODO: afficher en mode table 
      <div class="key-touch bc-purple c-white">SEND PREPA</div> --//
      <div class="key-touch key-size2 bc-success c-white">VALIER</div>
    </div>
    <div class="payment-actions-status">
      <div class="line-status">
        <div class="led-status bc-green-led"></div>
        <div>VENTES</div>
      </div>
      <div class="line-status">
        <div class="led-status bc-red-led"></div>
        <div>NOTE</div>
      </div>
    </div>
  </div>
  </div>
  -->