@import "palette.css";

/* http://luciole-vision.com/#top */
@font-face {
	font-family: "Luciole-regular";
	src: url("./fonts/Luciole-Regular.ttf") format("truetype");
	font-weight: normal;
}

* {
	font-family: "Luciole-regular";
}

@layer base, htmx;

@import "theme-htmx.css" layer(htmx);

@layer base {
	* {
		box-sizing: border-box;
	}

	body {
		-webkit-user-select: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-ms-user-select: none;
	}

	/* box flex */
	.BF-ligne {
		display: flex;
		flex-direction: row;
		/* axe ligne - x */
		justify-content: center;
		/* axe colonne - y */
		align-items: center;
	}

	.BF-ligne-entre {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.BF-ligne-uniforme {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}

	.BF-ligne-deb {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}

	.BF-ligne-wrap {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.BF-col {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.BF-col-deb {
		display: flex;
		flex-direction: column;
		justify-content: start;
	}

	.BF-col-deb-center {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
	}

	.BF-col-uniforme {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	.BF-col-around {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.BF-col-haut {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	/* erreur input */
	.erreur-input {
		border: 4px solid #a71d2a;
		font-size: 2rem;
	}

	/* marges gauche px */
	.mg4px {
		margin-left: 4px;
	}

	.mg8px {
		margin-left: 8px;
	}

	.mg12px {
		margin-left: 12px;
	}

	.mg16px {
		margin-left: 16px;
	}

	/* marges droite px */
	.md4px {
		margin-right: 4px;
	}

	.md8px {
		margin-right: 8px;
	}

	.md12px {
		margin-right: 12px;
	}

	.md16px {
		margin-right: 16px;
	}

	/* marges basse px */
	.mb4px {
		margin-bottom: 4px;
	}

	.mb8px {
		margin-bottom: 8px;
	}

	.mb12px {
		margin-bottom: 12px;
	}

	.mb16px {
		margin-bottom: 16px;
	}

	/* largeur % */
	.l50p {
		width: 50%;
	}

	.l60p {
		width: 60%;
	}

	.l99p {
		width: 99%;
	}

	.l100p {
		width: 100%;
	}

	/* largeur view port */
	.l100vw {
		width: 100vw;
	}

	/* hauteur % */
	.h100p {
		height: 100%;
	}

	/* hauteur view port */
	.h100vh {
		height: 100vh;
	}

	/* divers */
	.hide {
		display: none;
	}

	.pointer {
		cursor: pointer;
	}