{% extends base_template %}
{% load tibitags %}
{% load i18n %}

{% block main %}
    {% comment %} manages the "embed" mode {% endcomment %}
    {% include "htmx/header_groupe.html" %}

    {% comment %} content of the partial rendering {% endcomment %}
    <div class="container pb-5">
        {% for badge in badges %}
            <div class="row justify-space-between py-2">
                <div class="card card-plain card-blog mt-5">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-image position-relative border-radius-lg">
                                <img class="img border-radius-lg w-100 h-auto" src="{{ badge.img.med.url | randImg }}"
                                     alt="image product" loading="lazy"/>
                            </div>
                        </div>
                        <div class="col-md-7 ms-md-3 mt-md-auto mt-4">
                            <h3>{{ badge.name }}</h3>
                            {% if badge.short_description %}
                                <p style="white-space: pre-line">
                                    {{ badge.short_description }}
                                </p>
                            {% endif %}
                            {% if badge.long_description %}
                                <p style="white-space: pre-line">
                                    {{ badge.long_description }}
                                </p>
                            {% endif %}
                            {% if user.is_authenticated %}
                                <button class="btn btn-outline-secondary btn-sm"
                                        role="button" aria-label="check-in {{ badge.name }}"
                                        hx-get="/badge/{{ badge.uuid }}/badge_in/" hx-trigger="click"
                                        hx-target="#alert-container" hx-swap="innerHTML"
                                        data-loading-delay="1000"
                                        hx-indicator="#tibillet-spinner" data-swal="true">
                                    {% translate "Badge" %}
                                </button>
                                {#                                <button class="btn btn-outline-secondary btn-sm"#}
                                {#                                        role="button" aria-label="check-in {{ badge.name }}"#}
                                {#                                        hx-get="/badge/check_out/">#}
                                {#                                    {% translate "Check-out" %}#}
                                {#                                </button>#}
                            {% else %}
                                <p>{% translate "Please connect to badge" %}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock main %}
