<div {{ attrs }} class="spinner-container">
<div class="spinner" style="--spinner-width: {{ size }}px;"></div>
	<style>
		.spinner-container {
			position: absolute;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.spinner {
			border: 16px solid var(--noir04);
			border-top: 16px solid var(--vert01);
			border-radius: 50%;
			width: var(--spinner-width);
			height: var(--spinner-width);
			animation: spin 2s linear infinite;
		}

		@keyframes spin {
			0% {
				transform: rotate(0deg);
			}

			100% {
				transform: rotate(360deg);
			}
		}
	</style>
</div>