{% load i18n %}

{% if user.is_active %}
    <div>{% translate "Your booking is complete. The tickets have been sent to your email address." %}</div>
{% else %}
    <div>
        <div>
            {% translate "Please validate your e-mail to confirm this booking." %}
        </div>
        <div style="margin-top: 1rem">
            {# Durée fournie par la vue (DUREE_D_UN_PAIEMENT_EN_COURS). / Duration from the view. #}
            {% blocktranslate with minutes=minutes_de_reservation %}Votre réservation est bloquée {{ minutes }} minutes. Passé ce délai, les places sont remises en vente.{% endblocktranslate %}
        </div>
        <div style="margin-top: 1rem">
            {% translate "Don't forget to check the spam folder!" %}
        </div>
    </div>
{% endif %}

