[Unit]
Description=Agent RFID + Vanne (tibeer)
After=network-online.target pigpiod.service
Wants=network-online.target pigpiod.service
Requires=pigpiod.service

[Service]
Type=simple
User=sysop
WorkingDirectory=/home/sysop/tibeer/controlvanne/Pi
EnvironmentFile=/home/sysop/tibeer/controlvanne/Pi/.env
ExecStartPre=/home/sysop/tibeer/controlvanne/Pi/git-update.sh
ExecStart=/home/sysop/tibeer/controlvanne/Pi/.venv/bin/python /home/sysop/tibeer/controlvanne/Pi/main.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
