{% extends base_template %}

{% block main %}
<main class="container-lg my-5">
    <h1 class="display-1">Le Tiers-Lustre</h1>
    <img
        style="background-color: var(--kouler-piton)"
        src="./assets/motif/sevronkler.svg"
        class="img-fluid float-md-start d-none d-md-block w-25 rounded me-3 mb-2"
        alt="..."
    />
    <p class="lead">
        Au cœur de l'ancien quartier ouvrier de Pourtouche, le Tiers-Lustre vous
        propose des espaces de travail, de répétition et de création. Les
        adhérannes ont accès aux ateliers bois et élec du Fusible et au café
        bénévole de l'Ampoule. Entrez donc : y'a de la lumière !
    </p>
    <p>
        Le Tiers-Lustre occupe les murs de l'ancienne usine Fiat Lux. Bâtiment
        emblématique du quartier, celle-ci fournissait le territoire français en
        ampoules et luminaires jusqu'en 1963. Sa délocalisation déclencha un
        appauvrissement qualifié en 1988 d' "exode ouvrier" par l'élue de
        l'époque Maxine Dommaire.
    </p>
    <p>
        Le Tiers-Lustre se donne pour mission de (ré)ouvrir des espaces à
        investir et à vivre, à destination des habitannes du quartier. Notre
        quartier est beau, il est vivant, faisons-le briller !
    </p>

    <h2 class="mb-4">Sur cet espace vous retrouverez</h2>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col d-flex flex-column position-relative">
            <img
                style="background-color: var(--kouler-sousou)"
                src="./assets/motif/sevronkler.svg"
                class="img-fluid rounded"
                alt="..."
            />
            <a class="btn btn-lg btn-primary my-3 stretched-link" href="./agenda/">
                <i class="bi bi-calendar-date"></i>
                L'agenda du réseau
            </a>
        </div>
        <div class="col d-flex flex-column position-relative">
            <img
                style="background-color: var(--kouler-losean)"
                src="./assets/motif/sevronkler.svg"
                class="img-fluid rounded"
                alt="..."
            />
            <a class="btn btn-lg btn-primary my-3 stretched-link" href="./adherer/">
                <i class="bi bi-person-badge"></i>
                Les adhésions possibles
            </a>
        </div>
        <div class="col d-flex flex-column position-relative">
            <img
                style="background-color: var(--kouler-kari)"
                src="./assets/motif/sevronkler.svg"
                class="img-fluid rounded"
                alt="..."
            />
            <a class="btn btn-lg btn-primary my-3 stretched-link" href="./reseau/">
                <i class="bi bi-arrow-repeat"></i>
                Les membres du réseau
            </a>
        </div>
    </div>
</main>
{% endblock %}
