{% extends 'reunion/account_base.html' %}
{% load static %}
{% load tibitags %}
{% load humanize i18n %}

{% block title %}{% translate 'My settings' %}{% endblock %}

{% block account_page %}
    {# TODO: vue et route pour les préférences #}
    <section class="card pt-3">
        <div class="card-body">
            <h1 class="card-title">{% trans "My settings" %}</h1>
            <p class="lead">
                {% trans "Here I can personalize my settings, download or update my personal data and delete my account." %}
            </p>
        </div>
    </section>

    <h2 class="pt-3">{% trans "Personalization" %}</h2>

    <div class="mb-3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="darkThemeCheck">
            <label class="form-check-label" for="darkThemeCheck">
                {% trans "Dark theme" %}
            </label>
        </div>
    </div>

    <h2 class="pt-3">{% trans "Data" %}</h2>

    <div class="mb-3">
        <label for="first_name" class="form-label">{% trans "First name" %}</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="first_name" value="{{ user.first_name|default:"" }}" disabled/>
{#            <button class="btn btn-secondary" type="button" id="button-addon2">{% trans "Update" %}</button>#}
        </div>
    </div>

    <div class="mb-3">
        <label for="last_name" class="form-label">{% trans "Last name" %}</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="last_name" value="{{ user.last_name|default:"" }}" disabled/>
{#            <button class="btn btn-secondary" type="button" id="button-addon2">{% trans "Update" %}</button>#}
        </div>
    </div>
    
    <div class="mb-3">
        <label for="recoveryEmail" class="form-label">{% trans "Email address" %}</label>
        <div class="input-group mb-3">
            <input type="email" class="form-control" id="recoveryEmail" placeholder="nom@exemple.fr"
                   value="{{ user.email }}" disabled/>
{#            <button class="btn btn-secondary" type="button" id="button-addon2">{% trans "Update" %}</button>#}
        </div>
    </div>

    {% comment %} HIDE: voir la loi pour les données à télécharger, pas grave si c'est un json crade par ex
    <div class="row mt-5">
        <div class="col-md">
            <a href="#" class="btn btn-secondary d-block mb-4">Télécharger mes données</a>
        </div>
        <div class="col-md">
            <a href="#" class="btn btn-danger d-block">Supprimer mon compte</a>
        </div>
    </div>
    {% endcomment %}
{% endblock %}
