{% extends 'reunion/account_base.html' %}
{% load static %}
{% load tibitags %}
{% load humanize i18n %}

{% block title %}{% translate 'My bookings' %}{% endblock %}

{% block account_page %}
<section class="card pt-3">
    <div class="card-body">
        <h1 class="card-title">{% trans 'My bookings' %}</h1>
        <p class="lead">
            {% trans 'Here I can list my bookings, detail ticket information and display tickets for scanning.' %}
        </p>
    </div>
</section>

<div class="offcanvas offcanvas-start text-bg-light" tabindex="-1"
    id="ticketPanel" aria-labelledby="ticketPanelLabel" data-bs-theme="light">
    <div class="offcanvas-header justify-content-between">
      <h5 class="offcanvas-title" id="ticketPanelLabel">{% trans 'Ticket' %}</h5>
      <button type="button" class="btn" data-bs-dismiss="ticketPanel" aria-label="{% trans 'Close' %}">
        <i class="bi bi-x-lg"></i>
    </button>
    </div>
    <div id="ticketPanelBody" class="offcanvas-body"></div>
</div>

<script src="{% static 'mvt_htmx/js/sweetalert2@11.js' %}"></script>
<script>
  document.addEventListener("htmx:confirm", function(e) {
    if (!e.detail.question) return;
    e.preventDefault();
    Swal.fire({
      title: "Confirmer ?",
      text: e.detail.question,
      icon: "warning",
      showCancelButton: true,
      confirmButtonText: "Oui",
      cancelButtonText: "Non"
    }).then(function(result) {
      if (result.isConfirmed) {
        e.detail.issueRequest(true);
      }
    });
  });
</script>

{% for resa in reservations %}
<div class="card my-5 reservation-card">
    <div class="row g-0">
        <div class="col-md-4">
            {% include 'reunion/partials/picture.html' with img=resa.event.img alt=resa.event.name class='rounded-start' %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">
                    <small>
                        {{ resa.event.datetime|date:'l j F'|capfirst }} <br />
                        {{ resa.event.datetime|time:'H\hi' }} <br />
                    </small>
                    {{ resa.event.name }}
                    <a href="{{ resa.event.full_url }}" target="_blank">
                        <i class="bi bi-box-arrow-up-right"></i>
                        <span class="visually-hidden">{% trans 'Event page' %}</span>
                    </a>
                </h3>
                <div class="card-text hstack gap-3 mb-3">
                    <div class="p-2">{{ resa.tickets.all|length }} {% trans 'seats' %}</div>
                    <div class="vr"></div>
                    <div class="p-2">{{ resa.total_paid }} €</div>
                    <div class="vr"></div>
                    <div class="p-2">{{ resa.get_status_display }}</div>
                    <div class="vr"></div>
                    <div class="p-2">
                        <button
                            class="btn btn-outline-danger btn-sm"
                            hx-post="/my_account/{{ resa.uuid }}/cancel_reservation/"
                            hx-confirm="{% if resa.total_paid > 0 %}{{ resa.cancel_text }}{% else %}J'annule ma reservation{% endif %}"
                            hx-target="closest .reservation-card"
                            hx-swap="delete">
                            J'annule ma reservation
                        </button>
                    </div>
                </div>
                {% if resa.options.all|length > 0 %}
                <p>
                    {% for option in resa.options.all %}
                    <span class="badge text-bg-info p-2 me-1 mb-1 fs-6 fw-medium">
                        {{ option.name }}
                    </span>
                    {% if not forloop.last %}
                    <span class="visually-hidden">/</span>
                    {% endif %}
                    {% endfor %}
                </p>
                {% endif %}
                <div class="card-footer p-0">
                    {% include 'reunion/partials/account/ticket_accordion.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
