{% extends base_template %}
{% load static %}
{% load i18n %}

{% block title %}{% translate 'Agenda' %}{% endblock %}

{% block main %}
    {% if not embed %}
        <!-- slideshow -->
        {% if carrousel_event_list|length > 0 %}
            <header class="container-lg">
                {% include "reunion/partials/event/carousel.html" with carousel=carrousel_event_list %}
            </header>
        {% endif %}

        {% if config.description_event_page %}
            <section class="container-lg p-3 sticky-top bg-body" style="height: fit-content;">
                <div>{{ config.description_event_page | safe }}</div>
            </section>
        {% endif %}

        <!-- search bar and filtering -->
        <section class="container-lg p-3 sticky-top bg-body" style="height: fit-content;">
            {% include "reunion/partials/event/search.html" %}
        </section>
    {% endif %}
    <!-- event list -->
    <main class="container-lg" id="event_list">
        {% include "reunion/partials/event/list.html" %}
    </main>
{% endblock %}
