{% extends base_template %}
{% load tibitags i18n %}

{% block title %}{{ event.name }}{% endblock %}

{% block main %}
<main class="container-lg pb-5">
    <header class="mb-3">
      <img style="background-color: var(--kouler-sousou); max-height: 33vh;"
        src="{{ event.img|randImg }}"
        class="d-block w-100 mb-3 object-fit-cover"
        alt="{{ event.name }}">
      <h1>
        <small>
            {{ event.datetime|date:'l j F'|capfirst }} <br />
            {{ event.datetime|time:'H\hi' }} <br />
        </small>
        {{ event.name }}
      </h1>
    </header>
  
    <!-- tags -->
    <p>
        {% for tag  in event.tag.all %}
        <span class="badge text-bg-info me-1">{{ tag }}</span>
        {% endfor %}
    </p>
  
    <p class="lead">{{ event.short_description }}</p>
    
    {% if event.gallery %}
    {# TODO: currently does not exist in Event model but part of design. add image gallery? #}
    <div id="eventCarousel" class="carousel slide mb-3">
      <div class="carousel-inner" style="max-height: 33vh;">
        <div class="carousel-item active">
          <img style="background-color: var(--kouler-kari)" src="../../assets/motif/sevronkler.svg" class="d-inline-block w-50"
            alt="..."><img style="background-color: var(--kouler-losean)" src="../../assets/motif/sevronkler.svg" class="d-inline-block w-50"
            alt="...">
        </div>
        <div class="carousel-item">
          <img style="background-color: var(--kouler-letsi)" src="../../assets/motif/sevronkler.svg" class="d-inline-block w-50"
            alt="..."><img style="background-color: var(--kouler-piton)" src="../../assets/motif/sevronkler.svg" class="d-inline-block w-50"
            alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#eventCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#eventCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    {% endif %}

{#    Si l'évènement n'est pas de ce tenant, il provient d'une fédération, le bouton redigire vers la page du tenant.#}
{#    # Todo : Garder l'user d'un dns à l'autre, et ouvrir le modal reserver dans le nouveau tenant #}
    {% if not event_in_this_tenant %}
    <a href="{{ event.full_url }}" class="btn btn-lg btn-primary d-block mb-5" role="button">
        {% translate "Visiter la page du lieu" %}
    </a>
    {% elif event.products.count %}
    {% include 'reunion/partials/event/booking.html' %}
    {% else %}
    <a href="#" class="btn btn-lg btn-primary d-block mb-5 disabled" role="button" aria-disabled="true">
        {% translate "Entrée libre" %}
    </a>
    {% endif %}
  
    {% include 'reunion/partials/event/accordion.html' %}
  
  </main>
  {% endblock %}
