{% load i18n %}
<form hx-post="/home/contact/" class="d-flex flex-column justify-content-between h-100">
    <div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" placeholder="mon@email.fr" required
            {% if user.is_authenticated %}value="{{ user.email }}"{% endif %} name="email">
            <label for="email">{% trans "E-mail de contact" %}</label>
            <p>{% trans "Nous vous répondrons à cette adresse." %}</p>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="subject" placeholder="Mon sujet" required name="subject">
            <label for="subject">{% trans "Sujet du contact" %}</label>
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">{% trans "Message" %}</label>
            <textarea class="form-control" id="message" rows="3" required name="message"></textarea>
        </div>
    </div>
    <div class="p-3">
        <button type="submit" class="btn btn-primary d-block mb-3 w-100">{% trans "Envoyer" %}</button>
        <a href="." class="btn btn-danger d-block">{% trans "Annuler" %}</a>
    </div>
</form>
