{% block header %}
    {% load static %}
    {% load tz %}
    <!DOCTYPE html>
    <html lang="fr">
    <head>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="apple-touch-icon" sizes="76x76" href="../../static/blk-pro/assets/img/apple-icon.png">
        <link rel="icon" type="image/png" href="../../static/blk-pro/assets/img/favicon.png">
        <title>
            Vavang'Art • Billetterie fédérée
        </title>
        <!--     Fonts and icons     -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet"/>
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <!-- Nucleo Icons -->
        <link href="{% static 'blk-pro/assets/css/nucleo-icons.css' %}" rel="stylesheet"/>
        <!-- CSS Files -->
        <link href="{% static 'blk-pro/assets/css/blk-design-system-pro.css' %}" rel="stylesheet"/>
        <!-- CSS Just for demo purpose, don't include it in your project -->
        <link href="{% static 'blk-pro/assets/demo/demo.css' %}" rel="stylesheet"/>

    </head>
{% endblock header %}

{% block nav %}
    {% include 'blk-pro-mvc/menu.html' %}
{% endblock nav %}

{% block content %}
{% endblock content %}

{% block footer %}
    {% include 'blk-pro-mvc/footer.html' %}
{% endblock footer %}

<!--   Core JS Files   -->
<script src="{% static 'blk-pro/assets/js/core/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'blk-pro/assets/js/core/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'blk-pro/assets/js/core/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'blk-pro/assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{% static 'blk-pro/assets/js/plugins/bootstrap-switch.js' %}"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{% static 'blk-pro/assets/js/plugins/nouislider.min.js' %}" type="text/javascript"></script>
<!--  Plugin for the Carousel, full documentation here: http://kenwheeler.github.io/slick/ -->
<script src="{% static 'blk-pro/assets/js/plugins/slick.js' %}" type="text/javascript"></script>
<!--  Plugin for the blob animation -->
<script src="{% static 'blk-pro/assets/js/plugins/anime.min.js' %}" type="text/javascript"></script>
<!-- Chart JS -->
<script src="{% static 'blk-pro/assets/js/plugins/chartjs.min.js' %}"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="{% static 'blk-pro/assets/js/plugins/moment.min.js' %}"></script>
<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
<script src="{% static 'blk-pro/assets/js/plugins/bootstrap-tagsinput.js' %}"></script>
<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="{% static 'blk-pro/assets/js/plugins/bootstrap-selectpicker.js' %}" type="text/javascript"></script>
<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
<script src="{% static 'blk-pro/assets/js/plugins/bootstrap-datetimepicker.js' %}" type="text/javascript"></script>
<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="{% static 'blk-pro/assets/js/plugins/jasny-bootstrap.min.js' %}"></script>
<!-- Black Dashboard DEMO methods, don't include it in your project! -->
<script src="{% static 'blk-pro/assets/demo/demo.js' %}"></script>
<!-- Control Center for Black UI Kit: parallax effects, scripts for the example pages etc -->
<script src="{% static 'blk-pro/assets/js/blk-design-system-pro.js' %}" type="text/javascript"></script>

<script>
    $(document).ready(function () {
        blackKit.initDatePicker();
        blackKit.initSliders();
    });

    function scrollToDownload() {

        if ($('.section-download').length != 0) {
            $("html, body").animate({
                scrollTop: $('.section-download').offset().top
            }, 1000);
        }
    }
</script>
<script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
<script>
    window.TrackJS &&
    TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "black-dashboard-pro"
    });
</script>
</html>