<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1 class="title">Vavang'Art</h1>
            </div>

            <div class="col-md-3">
                <h3 class="title">Suivez nous :</h3>
                <div class="btn-wrapper profile text-left">
                    <a target="_blank" href="https://twitter.com/creativetim"
                       class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip"
                       data-original-title="Follow us">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/creativetim"
                       class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip"
                       data-original-title="Like us">
                        <i class="fab fa-facebook-square"></i>
                    </a>

                </div>
            </div>
        </div>
    </div>
</footer>