<!-- 
 =========================================================
 * Blk• Design System Pro - v1.0.0
 =========================================================

 * Product Page: https://www.creative-tim.com/product/blk-design-system-pro
 * Copyright 2019 Creative Tim (http://www.creative-tim.com)

 * Coded by www.creative-tim.com

 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 -->
{% extends "blk-pro-mvc/base.html" %}
{% load static %}

{% block content %}
    {% get_media_prefix as MEDIA_PREFIX %}

    <body class="contact-page">
    <div class="wrapper"
         style="background-image: url('{% static 'blk-pro/assets/img/dots.png' %}');   background-size: contain;">

        <div class="page-header header-filter contactus-3">
            <div class="page-header-image"
                 style="background-image: url('{{ MEDIA_PREFIX }}{{ configuration.img.fhd }}');"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="title">{{ configuration.organisation }}</h1>
                        <h3>{{ configuration.short_description }}</h3>
                    </div>
                </div>
            </div>
        </div>


        <div class="main">
            <img src="{% static 'blk-pro/assets/img/path1.png' %}" class="path shape">

            <div class="container-fluid">
                <div class="row infos mb-5">
                    <div class="col-lg-3">
                        <div class="info info-hover">
                            <div class="icon icon-primary">
                                <img class="bg-blob" src="../../../static/blk-pro/assets/img/feature-blob/primary.png">
                                <i class="tim-icons icon-square-pin"></i>
                            </div>
                            <h4 class="info-title">Adresse</h4>
                            <p class="description">{{ configuration.adress }}</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="info info-hover">
                            <div class="icon icon-info">
                                <img class="bg-blob" src="../../../static/blk-pro/assets/img/feature-blob/info.png">
                                <i class="tim-icons icon-email-85"></i>
                            </div>
                            <h4 class="info-title">Email</h4>
                            <p class="description"><a
                                    href="mailto:{{ configuration.email }}">{{ configuration.email }}</a></p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="info info-hover">
                            <div class="icon icon-warning">
                                <img class="bg-blob" src="../../../static/blk-pro/assets/img/feature-blob/warning.png">
                                <i class="tim-icons icon-mobile"></i>
                            </div>
                            <h4 class="info-title">Phone Number</h4>
                            <p class="description">{{ configuration.phone }}</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="info info-hover">
                            <div class="icon icon-success">
                                <img class="bg-blob" src="../../../static/blk-pro/assets/img/feature-blob/success.png">
                                <i class="tim-icons icon-single-02"></i>
                            </div>
                            <h4 class="info-title">Contact</h4>
                            <p class="description"><a
                                    href="{{ configuration.site_web }}">{{ configuration.site_web }}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- START EVENTS LIST -->
        <img src="{% static 'blk-pro/assets/img/path2.png' %}" class="path shape">
        {% include 'blk-pro-mvc/events_list.html' %}
        <!-- END EVENTS LIST-->


    </div>
    <!--     *********    END WRAPPER *********      -->

    </body>

{% endblock content %}

