{% load i18n static %}
<form id="membership-form" hx-post="/memberships/" hx-target="#target_formbricks"
      class="d-flex flex-column justify-content-between h-100">
    <div>

        <h3>{{ product.name }}</h3>
        <p>{{ product.short_description }}</p>
        {% if product.long_description %}
            <p>{{ product.long_description | safe }}</p>
        {% endif %}

        <div id="target_formbricks">
            <script type="module">
                import * as Spinner from '{% static "reunion/js/form-spinner.mjs" %}'

                // show spinner on form submission
                Spinner.init(document.getElementById('membership-form'))
            </script>
        </div>
        <input type="hidden" name="product" value="{{ product.uuid }}">

        <!-- prix -->
        <div class="mb-3 has-validation">
            {% for price in product.prices.all %}
                {% if price.publish %}
                    <div class="form-check me-3">
                        <input id="price-{{ price.uuid }}" class="form-check-input" type="radio" name="price"
                               value="{{ price.uuid }}" required>
                        <label class="custom-control-label" for="price-{{ price.uuid }}">
                            {% if price.free_price %}
                                {{ price.name }}
                            {% else %}
                                {{ price.name }} - {{ price.prix }}€
                            {% endif %}
                        </label>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        {% if user.is_anonymous %}
            <div class="form-floating mb-3">
                <input name="email" type="email" class="form-control" placeholder="adresse@exemple.fr" role="textbox"
                       aria-label="{% trans 'Email address' %}" required>
                <label for="email">{% trans 'Email address' %}</label>
            </div>

            <div class="form-floating mb-3">
                <input name="confirm-email" type="email" class="form-control" placeholder="adresse@exemple.fr"
                       role="textbox"
                       aria-label="{% trans 'Email confirmation' %}" required>
                <label for="confirm-email">{% trans 'Email confirmation' %}</label>
            </div>
        {% elif user.is_active %}
            <div class="form-floating mb-3">
                <input name="email" type="email" class="form-control" placeholder="adresse@exemple.fr" role="textbox"
                       aria-label="{% trans 'Email address' %}" value="{{ user.email }}" readonly>
                <label for="email">{% trans 'Email address' %}</label>
            </div>
        {% else %}
            <p>
                <code>{% translate "You have not confirmed your email address. Please check your inbox (and just in case, your spam folder!)." %}</code>
            </p>
        {% endif %}


        {% translate "First name" as default_first_label %}
        {% with first_label=config.first_input_label_membership|default:default_first_label %}
            <div class="form-floating mb-3">
                <input name="firstname" type="text" class="form-control" placeholder="{{ first_label }}"
                       role="textbox" value="{{ user.first_name|default:"" }}"
                       aria-label="{{ first_label }}" required>
                <label for="firstname">{{ first_label }}</label>
            </div>
        {% endwith %}

        {% translate "Last name or organization" as default_second_label %}
        {% with second_label=config.second_input_label_membership|default:default_second_label %}
            <div class="form-floating mb-3">
                <input name="lastname" type="text" class="form-control" placeholder="{{ second_label }}"
                       role="textbox" value="{{ user.last_name|default:"" }}"
                       aria-label="{{ second_label }}" required>
                <label for="lastname">{{ second_label }}</label>
            </div>
        {% endwith %}
        <!-- options radio -->
        <div class="mb-3 has-validation">
            {% for option in product.option_generale_radio.all %}
                <div class="form-check me-3">
                    <input class="form-check-input" type="radio"
                           name="options"
                           id="options-radio-{{ option.uuid }}"
                           value="{{ option.uuid }}">
                    <label class="custom-control-label text-darkms-0"
                           for="options-radio-{{ option.uuid }}">
                        {{ option.name }}
                    </label>
                </div>
            {% endfor %}
        </div>

        <!-- options checkbox -->
        {% for option in product.option_generale_checkbox.all %}
            <div class="form-check form-switch mb-3">
                <input name="options" class="form-check-input" type="checkbox" role="switch"
                       id="checkbox-{{ option.uuid }}" value="{{ option.uuid }}">
                <label class="form-check-label" for="checkbox-{{ option.uuid }}">
                    {{ option.name }}
                </label>
            </div>
        {% endfor %}


        {% if product.legal_link %}
            <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" role="switch" id="acknowledge" name="acknowledge"
                       required>

                <label class="form-check-label" for="acknowledge">
                    <span>{% translate "I accept the " %}</span>
                    <!-- Affichage du lien vers les CGU/CGV/Status s'il existe -->
                    {% if product.categorie_article == 'A' %}
                        <span>
                    {% if product.legal_link != None %}
                        <a class="text-info" href="{{ product.legal_link }}" target="_blank">
                        {% translate "association rules and regulations." %}
                    </a>
                    {% else %}
                        {% translate "association rules and regulations." %}
                    {% endif %}
                    </span>
                    {% else %}
                        {% if product.legal_link != None %}
                            <a class="text-info" href="{{ product.legal_link }}"
                               target="_blank">{% translate "terms and conditions." %}</a>
                        {% else %}
                            <span>{% translate "terms and conditions." %}</span>
                        {% endif %}
                    {% endif %}
                </label>
            </div>
        {% endif %}
    </div>

    <div class="p-3">
        <button id="membership-submit" type="submit" class="btn btn-primary w-100 mb-3">
            {% if product.validate_button_text %}{{ product.validate_button_text }}{% else %}
                {% translate 'Send my subscription request' %}{% endif %}
        </button>
        <a href="." class="btn btn-danger d-block test-membership-bt-cancel">{% translate 'Cancel' %}</a>
    </div>
</form>
