{% extends base_template %}
{% load tibitags static %}
{% load i18n %}

{% block scripts %}
    <script type="module">
        import * as SubscriptionWatcher from '{% static "reunion/js/subscription-watcher.mjs" %}'

        SubscriptionWatcher.init()
    </script>
{% endblock %}

{% block main %}
    <main class="container-lg py-5">
        <h1>{% translate 'Subscriptions' %}</h1>
        {% if config.description_membership_page %}
            <div>{{ config.description_membership_page | safe }}</div>
        {% endif %}

        <!-- subscription panel -->
        <div class="offcanvas-start offcanvas" tabindex="-1" id="subscribePanel" aria-labelledby="subscribePanelLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="subscribePanelLabel">{% translate 'Subscribe' %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                        aria-label="{% translate 'Close' %}"></button>
            </div>
            <div class="offcanvas-body" id="offcanvas-membership">
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-3 mb-5">
            {% for product in products %}
                {% if product.publish %}
                    <div class="col">
                        <div class="card h-100">
                            {% include 'reunion/partials/picture.html' with img=product.img alt=product.name class='card-img-top' %}
                            <div class="card-body">
                                <h3 class="card-title">{{ product.name }}</h3>
                                {% if product.long_description %}
                                    <p class="card-text">{{ product.long_description | safe }}</p>
                                {% elif product.short_description %}
                                    <p class="card-text">{{ product.short_description }}</p>
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                {% if embed %}
                                    <a class="btn btn-primary w-100 my-3 js-membership-form-btn"
                                       type="button"
                                       href="/memberships/?open={{ product.uuid }}" target="_blank">
                                        <i class="bi bi-plus"></i>
                                        {% translate 'Subscribe' %}
                                    </a>
                                {% else %}
                                    <button
                                            class="btn btn-primary w-100 my-3 js-membership-form-btn"
                                            type="button"
                                            hx-get="/memberships/{{ product.uuid }}" hx-swap="innerHTML"
                                            hx-target="#offcanvas-membership"

                                            data-bs-toggle="offcanvas"
                                            data-bs-target="#subscribePanel"
                                            aria-controls="subscribePanel">
                                        <i class="bi bi-plus"></i>
                                        {% translate 'Subscribe' %}
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </main>
{% endblock main %}
