{% load tibitags %}
{% load humanize i18n %}
<div class="card" id="transactions_table">
    <div class="table-responsive">
        <table class="table align-items-center mb-0">
            <thead>
            <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% translate "From / To" %}</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% translate "Action" %}</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% translate "Asset / Qty" %}</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% translate "Date" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for tr in transactions %}
                <tr>
                    <td>
                        <div class="d-flex px-2 py-1">
                            <div>
                                {#                                TODO mettre les logo des tenant #}
                                {#                                <img src="{{ config.logo.thumbnail.url }}" class="avatar avatar-sm">#}
                                {#                                <img src="{{ config.logo.thumbnail.url }}" class="avatar avatar-sm">#}
                                {% if tr.serialized_sender.uuid == user.wallet.uuid %}
                                    <h6 class="mb-0 text-xs">Myself</h6>
                                {% else %}
                                    <h6 class="mb-0 text-xs">{{ tr.serialized_sender.get_name }}</h6>
                                {% endif %}

                                {% if tr.serialized_receiver.uuid == user.wallet.uuid %}
                                    <h6 class="mb-0 text-xs">Myself</h6>
                                {% else %}
                                    <h6 class="mb-0 text-xs">{{ tr.serialized_receiver.get_name }}</h6>
                                {% endif %}
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                                {#                                Si token primaire : #}
                                {% if token.asset.is_stripe_primary %}
                                    <h6 class="mb-0 text-xs">TiBillet</h6>
                                    <p class="text-xs text-secondary mb-0">Fédération</p>
                                    {#                                Si token de lieu :#}
                                {% else %}
                                    <h6 class="mb-0 text-xs">{{ token.name }}</h6>
                                    <p class="text-xs text-secondary mb-0">{{ token.asset.place_origin }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                    <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-normal">{{ tr.get_action_display }}</span>
                    </td>
                    <td class="test-return-{{ tr.serialized_asset.name | slugify }}-{{ tr.amount | dround | slugify }}">
                        {% if tr.serialized_asset.is_stripe_primary %}
                            <h6 class="mb-0 text-xs test-return-asset-value">{{ tr.amount | dround }}</h6>
                            <p class="text-xs text-secondary mb-0 test-return-asset-name">TiBillet</p>
                        {% else %}
                            <h6 class="mb-0 text-xs test-return-asset-value">{{ tr.amount | dround }}</h6>
                            <p class="text-xs text-secondary mb-0 test-return-asset-name">{{ tr.serialized_asset.name }}</p>
                        {% endif %}
                    </td>
                    <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-normal">{{ tr.datetime }}</span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {#    TODO: next et prev#}
    </div>
</div>

<!-- initialization script for tooltips -->
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>