{% load unfold i18n %}

<div class="grid gap-4 mb-4 md:grid-cols-2 lg:grid-cols-3">
    {% component "unfold/components/card.html" %}
        {% component "unfold/components/text.html" %}
            {% trans "Active memberships" %}
        {% endcomponent %}
        {% component "unfold/components/title.html" with component_class="MembershipComponent" type="active" %}{% endcomponent %}
    {% endcomponent %}

    {% component "unfold/components/card.html" %}
        {% component "unfold/components/text.html" %}
            {% trans "Users without membership" %}
        {% endcomponent %}
        {% component "unfold/components/title.html" with component_class="MembershipComponent" type="inactive" %}{% endcomponent %}
    {% endcomponent %}

    {% component "unfold/components/card.html" %}
        {% component "unfold/components/text.html" %}
            {% trans "Memberships to be validated" %}
        {% endcomponent %}

        {% component "unfold/components/title.html" with component_class="MembershipComponent" type="pending" %}{% endcomponent %}
        <div class="mt-2">
            <a href="/admin/BaseBillet/membership/?state__exact=WA" class="text-primary hover:underline">
                {% trans "View only memberships to be validated" %}
            </a>
        </div>
    {% endcomponent %}

</div>