<form hx-post="/tenant/informations/" novalidate class="creation-tabs-content">
    <div class="espace-content d-flex flex-column">
        <div class="espace-content d-flex flex-column">
            <!-- TODO: Importer vos données de communecté -->
            <button class="btn bg-gradient-info w-25 mt-4 mb-0 p-4" type="button" style="height: 44px;">
                <div class="d-flex flex-row justify-content-center align-items-center h-100 w-100">
                    Importez vos données de <img src="{{ MEDIA_URL }}/media/images/communecterLogo_31x28.png"
                                                 class="ms-1" alt="logo communecter">
                </div>
            </button>

            <!-- organisation -->
            <div class="mt-5">
                <div class="input-group input-group-dynamic">
                    <label class="form-label">Organisation</label>
                    <input name="tenant-organisation" type="text" class="form-control">
                </div>
                {% if errors.organisation == True %}
                    <div class="tibillet-invalid-feedback" role="heading" aria-label="Un nom pour cet organistaion.">
                        Un nom pour cet organistaion.
                    </div>
                {% endif %}
            </div>

            <!-- courte description -->
            <div class="mt-4">
                <div class="input-group input-group-dynamic">
                    <label class="form-label">Courte description</label>
                    <input name="tenant-short-description" type="text" class="form-control">
                </div>
                {% if errors.short_description == True %}
                    <div class="tibillet-invalid-feedback" role="heading"
                         aria-label="Renseigner la courte description.">
                        Renseigner la courte description.
                    </div>
                {% endif %}
            </div>

            <!-- longue description -->
            <div class="mt-4">
                <div class="input-group input-group-static">
                    <label>Votre longue description</label>
                    <textarea name="tenant-long-description" class="form-control" rows="3"></textarea>
                </div>
                {% if errors.long_description == True %}
                    <div class="tibillet-invalid-feedback" role="heading"
                         aria-label="Renseigner la longue description.">
                        Renseigner la longue description.
                    </div>
                {% endif %}
            </div>

            <!-- image -->
            <div class="mt-4">
                <div class="input-group input-group-static is-filled">
                    <label class="form-label">Image</label>
                    <input name="tenant-image" type="file" class="form-control">
                </div>
                {% if errors.image == True %}
                    <div class="tibillet-invalid-feedback" role="heading"
                         aria-label="Sélectionner une image.">
                        Sélectionner une image.
                    </div>
                {% endif %}
            </div>

            <!-- logo -->
            <div class="mt-4">
                <div class="input-group input-group-static is-filled">
                    <label class="form-label">Logo</label>
                    <input name="tenant-logo" type="file" class="form-control">
                </div>
                {% if errors.logo == True %}
                    <div class="tibillet-invalid-feedback" role="heading"
                         aria-label="Sélectionner un logo.">
                        Sélectionner un logo.
                    </div>
                {% endif %}
            </div>


        </div>
    </div>
    <!-- footer -->
    <div class="d-flex flex-row-reverse w-100 creation-footer">
        <button class="btn btn-creation bg-primary text-white" role="button" aria-label="go resume">
            Suivant
        </button>
    </div>
</form>