<div class="modal-content" id="modal_adh">
    <div class="modal-body p-0">
        <div class="card bg-gray-200 shadow border-0 mb-0">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-info shadow-info border-radius-lg py-3 pe-1 text-center py-4">
                    <h4 class="font-weight-bolder text-white mt-1 mb-0">Adhésion / Abonnement</h4>
                    <p class="mb-1 text-sm text-white">Créez un abonnement ou une adhésion
                        associative</p>
                </div>
            </div>

            <div class="card-body" id="subscription_input">


                {% include "htmx/components/inputMd.html" with id="tibillet-product-name" label="Nom" type="text" errors=errors %}

                {% include "htmx/components/inputMd.html" with id="tibillet-product-short-description" label="Courte description" type="text" errors=errors %}

                <button hx-post="/mvt/create_product/" hx-include="closest div"
                        hx-target="#modal_adh" hx-swap="outerHTML"
                        class="btn btn-default">Créer
                </button>
            </div>

        </div>
    </div>
</div>

