{% load tibitags %}
{% load humanize i18n %}

<h2 class="section__title">{% trans "Transaction history" %}</h2>
<div class="table-responsive compte-section__contenu">
    <table class="table compte-table">
        <thead>
        <tr>
        <th scope="col">{% trans "Value" %}</th>
        <th scope="col">{% trans "Action" %}</th>
        <th scope="col">{% trans "Date" %}</th>
        <th scope="col">{% trans "Path" %}</th>
        </tr>
        </thead>
        <tbody>

        {% for tr in transactions %}
            <tr class="test-return-{{ tr.serialized_asset.name | slugify }}-{{ tr.amount | dround | slugify }}-content">
                <td>
                    {% if tr.action != "FUS" %}
                        <strong>{{ tr.amount | dround }}</strong>
                        {% if tr.serialized_asset.is_stripe_primary %}
                            TiBillets

                        {% else %}
                            {{ tr.serialized_asset.name }}
                        {% endif %}
                    {% endif %}
                </td>
                <td>{{ tr.action|get_choice_string:actions_choices }}</td>
                <td>{{ tr.datetime }} : {{ tr.datetime|naturaltime }}</td>
                <td>
                    {% if tr.action != "FUS" %}

                        {% if tr.serialized_sender.uuid == user.wallet.uuid %}
                            {% translate "Wallet" %}
                        {% elif tr.serialized_sender.get_name == 'Primary Wallet' %}
                            {% trans 'TiBillet platform' %}
                        {% else %}
                            {% trans 'LaBoutik register' %}
                            {#{ tr.serialized_sender.get_name }#}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
