@import "palette.css";
@import "sizes.css";

/* http://luciole-vision.com/#top */
@font-face {
	font-family: "Luciole-regular";
	src: url("./fonts/Luciole-Regular.ttf") format("truetype");
	font-weight: normal;
}

* {
	font-family: "Luciole-regular";
}

@layer base, htmx;

@import "theme-htmx.css" layer(htmx);

@layer base {
	* {
		box-sizing: border-box;
	}

	body {
		-webkit-user-select: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-ms-user-select: none;
		width: 100vw;
		height: 100vh;
		margin: 0;
		padding: 0;
	}

	/* box flex */
	.BF-ligne {
		display: flex;
		flex-direction: row;
		/* axe ligne - x */
		justify-content: center;
		/* axe colonne - y */
		align-items: center;
	}

	.BF-ligne-entre {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.BF-ligne-uniforme {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}

	.BF-ligne-deb {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}

	.BF-ligne-wrap {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.BF-col {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.BF-col-deb {
		display: flex;
		flex-direction: column;
		justify-content: start;
	}

	.BF-col-deb-center {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
	}

	.BF-col-uniforme {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	.BF-col-around {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.BF-col-haut {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	/* hauteur % */
	.h100v {
		height: 100vh;
	}

	.h100p {
		height: 100%;
	}

	.l100p {
		width: 100%;
	}

	.l100v {
		width: 100vw;
	}

	.hide {
		display: none;
	}

	/* marges droite px */
	.md4px {
		margin-right: 4px;
	}

	/* marges gauche px */
	.mg4px {
		margin-left: 4px;
	}
}