{% load static %}
{% load tibitags %}
{% load humanize i18n %}

<div class="accordion accordion-flush" id="resa{{ resa.uuid }}Accordion">
    {% for ticket in resa.tickets.all %}
        {% if ticket.status == ticket.NOT_SCANNED or ticket.status == ticket.SCANNED  %}
        <div class="accordion-item">
            <h4 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#ticket{{ ticket.uuid }}Details" aria-expanded="false"
                        aria-controls="ticket{{ ticket.uuid }}Details">
                    {% trans 'Ticket' %} {{ ticket.status }}-{{ ticket.numero_uuid|upper }}-{{ ticket.seat }}
                </button>
            </h4>
            <div id="ticket{{ ticket.uuid }}Details" class="accordion-collapse collapse"
                 data-bs-parent="#resa{{ resa.uuid }}Accordion">
                <div class="accordion-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>{% trans "Number" %}</th>
                            <td>
                                {{ ticket.status }}-{{ ticket.numero_uuid|upper }}-{{ ticket.seat }}
                            </td>
                        </tr>
                        <tr>
                            <th>{% trans "Booking" %}</th>
                            <td>
                                {{ ticket.pricesold.price.product.name }}
                            </td>
                        </tr>
                        <tr>
                            <th>{% trans "Rate name" %}</th>
                            <td>
                                {{ ticket.pricesold.price.name }}
                            </td>
                        </tr>
                        <tr>
                            <th>{% trans "Value" %}</th>
                            <td>
                                {{ ticket.paid }}&nbsp;€
                            </td>
                        </tr>
                        <tr>
                            <th>{% trans "Seating" %}</th>
                            <td>
                                {% if ticket.seat == 'L' %}
                                {% trans "Free seating" %}
                                {% else %}
                                {% trans "Seat" %} {{ ticket.seat }}
                                {% endif %}
                            </td>
                        </tr>
{#                        <tr>#}
{#                            <th>{% trans "Recipient" %}</th>#}
{#                            <td>#}
{#                                {% if not ticket.first_name and not ticket.last_name %}#}
{#                                    {% translate "Anonymous" %}#}
{#                                {% else %}#}
{#                                    {{ ticket.first_name }} {{ ticket.last_name }}#}
{#                                {% endif %}#}
{#                            </td>#}
{#                        </tr>#}
                        <tr>
                            <th>{% trans "Email" %}</th>
                            <td>
                                {{ ticket.reservation.user_commande.email }}
                            </td>
                        </tr>
                        <tr>
                            <th>{% trans "Status" %}</th>
                            <td>{{ ticket.get_status_display }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <button
                        class="btn btn-primary w-100 mt-3" type="button"
                        hx-get="/ticket/{{ ticket.uuid }}/" hx-swap="innerHTML"
                        hx-target="#ticketPanelBody"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#ticketPanel"
                        aria-controls="ticketPanel">
                        {% translate "Display ticket" %}
                    </button>
                    {% if ticket.status == ticket.NOT_SCANNED %}
                    <button
                        class="btn btn-outline-danger w-100 mt-3"
                        hx-post="/my_account/{{ ticket.uuid }}/cancel_ticket/"
                        hx-confirm="{% if ticket.reservation.total_paid > 0 %}{{ ticket.reservation.cancel_text }}{% else %}J'annule ce billet{% endif %}"
                        hx-target="closest .accordion-item"
                        hx-swap="delete">
                        {% translate "Cancel this ticket" %}
                    </button>
                    {% endif %}
                    {% comment %}
                    <div class="row">
                        <div class="col-sm">
                            <a href="/ticket/{{ ticket.uuid }}/" target="_blank" class="btn btn-primary w-100 mt-3">
                                {% translate "Voir le billet" %}
                            </a>
                        </div>
                        <div class="col-sm">
                            <button class="btn btn-danger w-100 mt-3">
                                {% translate "Annuler le billet" %}
                            </button>
                        </div>
                    </div>
                    {% endcomment %}
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
