/* http://luciole-vision.com/#top */
@font-face {
  font-family: "Luciole-regular";
  src: url("http://localhost/assets/css/fonts/Luciole-Regular.ttf") format("truetype");
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--bleu11);
  overflow: hidden;
}

/* spinner */
.spinner {
  width: var(--spinner-size);
  height: var(--spinner-size);
  border: 5px solid var(--blanc01);
  border-bottom-color: var(--vert03);
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.bt {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
}

.no-select {
  user-select: none;
}

header {
  width: 100vw;
  height: var(--header-height);
  background-color: var(--noir03);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}

.header-img {
  width: auto;
  height: 85%;
}

.header-status {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--success);
}

.header-menu {
  width: var(--header-menu-width);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  color: var(--blanc01);
}

.menu-burger-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-out, visibility 0ms 200ms;
  user-select: none;
}

.menu-burger-show {
  opacity: 1;
  visibility: visible;
  transition: opacity 200ms ease-out, visibility 0ms 0ms;
}


.menu-burger-content {
  position: absolute;
  top: calc(var(--header-height) + 8px);
  right: 0;
  background-color: var(--noir03);
  overflow-y: auto;
  transform: translateY(-8px);
  transition: transform 200ms ease-out, opacity 200ms ease-out, visibility 0ms 200ms;
}

.menu-burger-item {
  position: relative;
  min-width: 300px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  line-height: 60px;
  text-transform: uppercase;
  font-size: 1.4rem;
  border-bottom: 1px solid var(--gris01);
  cursor: pointer;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--bleu09);
  color: var(--blanc01);
}

.menu-burger-item svg {
  padding-right: 6px;
}

.menu-burger-item-touch {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.logs-icon {
  width: var(--spinner-size);
  height: var(--spinner-size);
}

main {
  width: 100vw;
  height: calc(100vh - var(--header-height));
  background-color: var(--noir01);
}

.main-content {
  width: 100%;
  height: calc(100vh - var(--header-height));
}

.main-content-servers {
  width: 100%;
  height: calc(100% - var(--footer-height));
  padding: 8px 4px;
  overflow-x: hidden;
  overflow-y: auto;
}

.main-content-footer {
  width: 100%;
  height: var(--footer-height);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-content-footer .bt {
  width: 200px;
  background-color: var(--blanc02);
  color: var(--noir01);
  border: 1px solid var(--gris02);
  box-shadow: 1px 1px 10px rgba(185, 180, 180, 0.3);
  font-size: 1.5rem;
  cursor: pointer;
}

.content-input {
  position: absolute;
  left: 0;
  top: var(--header-height);
  width: 100%;
  height: calc(100vh - var(--header-height));
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--noir01);
}

#pin-code {
  font-size: 2rem;
  line-height: 2.4rem;
  width: 140px;
  text-align: center;
  margin-bottom: 4px;
}

.logs-content,
.divers-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: calc(100vh - var(--header-height));
  display: none;
  margin-top: var(--header-height);
  padding: 2px;
  background-color: var(--blanc02);
  color: var(--noir01);
  font-size: 1.2rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.status-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status-item {
  width: 100%;
  margin: 24px 0;
  display: flex;
  flex-direction: column;
}

.status-messages {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: raw;
  justify-content: center;
  align-items: center;
}

.status-messages-icon {
  width: 100px;
}

.status-messages-info {
  width: 200px;
  padding-left: 6px;
}

.status-action {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* servers list */
.servers-list-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin: 8px 0;
  border-radius: 4px;
  user-select: none;
}

.bt-go-server {
  width: 70%;
  margin-right: 8px;
  color: var(--blanc01);
  background-color: var(--vert03);
}

.bt-delete-server {
  width: 20%;
  background-color: var(--rouge06);
}

.bt-input-return {
  width: 20%;
  color: var(--blanc01);
  background-color: var(--bleu05);
  font-size: 2rem;
  margin-top: 40px;
}

/* confirm delete server */
.confirm-container {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--noir03);
  opacity: 0.8;
  user-select: none;
}

.confirm-content {
  width: 50%;
  /* height: 20%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--noir03);
  color: var(--blanc01);
  border-radius: 6px;
  padding: 8px 16px;
  border: 1px solid var(--blanc02);
  box-shadow: 2px 2px var(--blanc01);
}

.confirm-title {
  font-size: 2rem;
}

.confirm-body {
  font-size: 1.5rem;
}

.confirm-select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.bt-delete-cancel {
  min-width: 150px;
  background-color: var(--bleu05);
  font-size: 1.5rem;
  padding: 0 16px;
  margin: 0 16px;
}

.bt-delete-validate {
  min-width: 150px;
  background-color: var(--rouge06);
  font-size: 1.5rem;
  padding: 0 16px;
  margin: 0 16px;
}

.content-server-pincode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--blanc01)
}

.input-group-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#update-server-pin-code {
  display: none;
}

#icon-update-server-pin-code {
  cursor: pointer;
  margin-left: 6px;
}

#retour-server-pin-code {
  color: var(--yellow00);
  font-size: 1.2rem;
}